.developerFriendly {
  background-color: adjust-color(c('brand-water'), $lightness: 15%);
  position: relative;
  --div-color: #{adjust-color(c('brand-water'), $lightness: 25%, $saturation: -25%)};
  --div-dash-size: 25px;
  padding-bottom: 7rem;

  @include media("<=phoneLandscape") {
    padding-bottom: 3.5rem;
  }
}

.container {
  display: flex;
  align-items: top;
  justify-content: space-between;
  // @include gap(2rem);
  position: relative;

  > * + * {
    @include media(">desktop") {
      margin-left: 2rem;
    }
  }

  @include media("<=desktop") {
    display: block;
  }
}

.header, 
.content {
  flex: 1;
}

.content {
  @include media("<=desktop") {
    margin-top: 4rem;
  }
}

.title {
  font-size: 5rem;
  font-weight: v(bold);
  color: v('white');
  padding-bottom: 4rem;
  margin-bottom: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  margin-right: 4rem;

  @include media("<=phone") {
    font-size: 3rem;
  }
}

.description {
  color: v('white');
  opacity: v('muted');
}

.tools {
  display: flex;
  align-items: flex-start;
  color: #ffffff;

  > * + * {
    margin-top: 2rem;

    @include media(">phoneLandscape") {
      margin-top: 0;
      margin-left: 2rem;
    }
  }

  @include media("<=phoneLandscape") {
    flex-wrap: wrap;
  }
}