.container {
  --contentWidth: 920px;
  padding: 0 unquote('max(20px, 50vw - var(--contentWidth) / 2)');
}

.container.large {
  --contentWidth: 1232px;
}

.container.small {
  --contentWidth: 680px;
}
