.stayProtected {
  .header {
    text-align: center;
  }

  .title {
    font-size: 4.5rem;
    line-height: 1.17;
    font-weight: v(light);

    @include media("<=phone") {
      font-size: 3rem;
    }
  }

  .subtitle {
    margin: 2rem 0 4rem 0;
    font-weight: v(semi);
    opacity: v('faded');
  }

  .form {
    max-width: 50%;
    margin: 0 auto;

    @include media("<=tablet") {
      max-width: 80vw;
    }

    .formDescription {
      justify-content: center;

      @include media("<=phone") {
        justify-content: flex-start;
      }
    }
  }
}
