.root {
  overflow: hidden;

  padding: rem(96px) 0;

  @include media('<=phoneLandscape') {
    padding: rem(64px) 0;
  }
}

.titleContainer {
  text-align: center;

  padding-bottom: rem(64px);

  @include media('<=phoneLandscape') {
    padding-bottom: rem(32px);
    text-align: left;
  }

  .title {
    font-size: rem(32px);
    font-weight: v('bold');
    line-height: 130%;
    letter-spacing: -0.01em;

    @include media('<=phoneLandscape') {
      font-size: rem(26px);
    }
  }
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include gap(rem(32px));

  @include media('<desktop') {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
  }

  @include media('<=phoneLandscape') {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;

    .iconWrapper {
      height: 80px;
      width: 80px;
      margin-bottom: rem(16px);
    }

    .cardTitle {
      @include inter($size: 20px, $weight: 600, $lh: 150%);
      letter-spacing: 0.01em;

      margin-bottom: rem(8px);
    }

    .cardDescription {
      @include inter($size: 16px, $weight: 400, $lh: 150%);

      @include media('<=phoneLandscape') {
        font-size: rem(14px);
      }
    }
  }
}

.imageSection {
  svg {
    width: 100%;
    height: 100%;
  }
}
