.root {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 352px;

  @include media('<=desktop') {
    height: 0;
    width: 100%;
  }
}

.root iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
