.visitSection {
  padding: rem(80px) 0 0 0;

  @include media('<=tablet') {
    padding: rem(80px) 0 0 0;
  }
}

.catchFraudstersSection {
  padding: 0 0 rem(96px) 0;

  @include media('<=tablet') {
    padding: 0 0 rem(70px) 0;
  }
}

.containerVisits,
.containerFraudsters {
  display: grid;

  @include media('<=tablet') {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 rem(20px);
  }

  @include media('<=phoneLandscape') {
    align-items: flex-start;
  }
}
.containerVisits {
  grid-template-columns: rem(640px) 1fr;

  @include media('<=desktop') {
    grid-template-columns: rem(550px) 1fr;
  }

  @include media('<=tablet') {
    flex-direction: column-reverse;
    //row-gap does not work in safari when using column-reverse
    .card {
      padding-bottom: rem(48px);
    }
  }
  padding-bottom: rem(192px);

  @include media('<=phoneLandscape') {
    padding-bottom: rem(120px);
  }
}

.containerFraudsters {
  grid-template-columns: rem(517px) 1fr;

  @include media('<=tablet') {
    row-gap: rem(64px);
  }
}

.cardSection {
  .card {
    display: flex;
    flex-direction: column;

    .icon {
      width: rem(104px);
      height: rem(104px);
    }

    .cardTitle {
      font-size: rem(32px);
      font-weight: v('bold');
      line-height: 130%;
      margin-top: rem(40px);
      margin-bottom: rem(8px);

      max-width: rem(320px);

      @include media('<=phoneLandscape') {
        font-size: rem(27px);
        line-height: 120%;
      }
    }

    .cardDescription {
      @include inter($size: 16px, $color: adjust-color(c('brand-water'), $alpha: -0.3), $lh: 150%);

      @include media('>phoneLandscape') {
        max-width: rem(288px);
      }
    }
  }
}

.chartSection {
  position: relative;
  margin: auto;

  .dotsImage {
    width: rem(400px);
    height: rem(400px);

    @include media('<=desktop') {
      margin-left: 0;
    }

    @include media('<=tablet') {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
  .card {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    max-width: rem(200px);

    box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
    border-radius: 16px;
    background: v('white');

    @include transition((opacity, transform));
    @include transition-duration(1s);
    opacity: 0;
    transform: translateY(15px);
    transition-delay: 2s;

    .visitorId {
      @include inter($size: 12px, $weight: 500, $lh: 140%);
      letter-spacing: 0.04em;
      padding-bottom: rem(12px);
      margin-bottom: rem(12px);

      border-bottom: 1px solid rgba(13, 16, 43, 0.48);
    }
    .incognitoSection {
      display: grid;
      grid-template-columns: min(25px) 1fr;
      align-items: center;

      .icon {
        width: rem(17px);
        height: rem(11px);
      }
    }
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  .card:nth-of-type(1) {
    top: -12%;
    right: -15%;

    @include media('<=desktop') {
      right: 0%;
    }
    @include media('<=tablet') {
      top: -10%;
    }
  }
  .card:nth-of-type(2) {
    top: 10%;
    left: -38%;

    @include media('<=desktop') {
      top: 20%;
      left: -5%;
    }

    @include media('<=tablet') {
      top: 20%;
    }
  }
  .card:nth-of-type(3) {
    bottom: -4%;
    right: -30%;

    @include media('<=desktop') {
      right: 5%;
    }
    @include media('<=tablet') {
      bottom: -2%;
    }
  }
  .isIncognito {
    @include inter($size: 14px, $weight: 400, $lh: 150%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
  }
}

.visitSkeleton {
  background-color: #dcdce3;
  height: rem(24px);

  @include media('<=phoneLandscape') {
    height: rem(21px);
  }
}

.cardSection,
.visitsSection {
  @include transition((opacity, transform));
  @include transition-duration(0.7s);

  opacity: 0;
  transform: translateY(15px);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
