.container {
  padding-bottom: rem(58px);
  @include media('<=phoneLandscape') {
    padding: 0;
  }
}

.joinCommunitySection {
  color: v('white');
  background-color: adjust-color(c('brand-fire'), $lightness: 9%, $saturation: 4%);
  background-size: cover;
  background-repeat: no-repeat;

  @include media('>phoneLandscape') {
    background-image: url('../../img/BotdJoinComm.png');

    border-radius: rem(16px);
    padding: rem(64px);
  }
  @include media('<=phoneLandscape') {
    background-image: url('../../img/BotdJoinMobileSVG.svg');

    padding: rem(38px) rem(20px);
  }

  .labels {
    display: flex;
    column-gap: rem(24px);
    padding-bottom: rem(24px);

    text-transform: uppercase;
    @include inter($size: 14px, $weight: 600, $lh: 140%);
    letter-spacing: 0.04em;
  }

  .title,
  .description {
    max-width: rem(512px);
  }

  .title {
    font-size: rem(44px);
    font-weight: v('bold');
    line-height: 120%;
    letter-spacing: -0.01em;

    margin-bottom: rem(8px);

    @include media('<=desktop') {
      font-size: rem(30px);
    }

    @include media('<=tablet') {
      font-size: rem(26px);
    }
  }

  .description {
    @include inter($size: 20px, $weight: 500, $lh: 150%);

    margin-bottom: rem(56px);

    @include media('<=desktop') {
      font-size: rem(18px);
    }

    @include media('<=tablet') {
      font-size: rem(16px);
    }
  }
}

.buttons {
  display: flex;
  column-gap: rem(16px);

  .label {
    display: flex;
    align-items: center;

    .button {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: rem(12px);
    }
  }
}
