.button {
  --height: 40px;
  --radius: 1rem;
  --color: var(--white);
  --bgColor: var(--brand-fire);
  --padding: 0 3rem;
  text-decoration: none;
  font-size: 1.75rem;
  color: v(color);
  background-color: v(bgColor);
  border-radius: v(radius);
  padding: v(padding);
  height: v(height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  font-weight: v(semi);
  white-space: nowrap;
  @include transition((background-color));
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: adjust-color(c('brand-fire'), $lightness: -20%);
  }

  .icon {
    width: 2rem;
    height: 2rem;
    fill: v('color');

    &.mobileOnly {
      display: inline-block;

      @include media('>phoneLandscape') {
        display: none;
      }
    }
  }
}

.label {
  text-decoration: none;
  font-size: 1.75rem;
  color: v(color);
  line-height: 1;
  user-select: none;
  font-weight: v(semi);
  white-space: nowrap;
}

.outlined {
  --bgColor: var(--transparent);
  --color: var(--brand-fire);
  box-shadow: inset 0 0 0 2px v('brand-fire');
  @include transition((box-shadow, color));

  &:focus,
  &:hover {
    background-color: v(bgColor);
    color: adjust-color(c('brand-fire'), $lightness: -20%);
    box-shadow: inset 0 0 0 2px adjust-color(c('brand-fire'), $lightness: -20%);
  }
}

.whiteOutline {
  --bgColor: var(--transparent);
  --color: var(--github-white);
  box-shadow: inset 0 0 0 2px v('github-white');
  @include transition((box-shadow, color));

  &:focus,
  &:hover {
    background-color: v(bgColor);
    color: adjust-color(c('github-white'), $lightness: -20%);
    box-shadow: inset 0 0 0 2px adjust-color(c('github-white'), $lightness: -20%);
  }
}

.small {
  height: rem(32px);
  padding: 0 1.5rem;
}

.medium {
  height: rem(46px);
  padding: 0 rem(16px);
}

.big {
  height: rem(58px);
  padding: 0 rem(24px);

  font-weight: 500;
  font-size: rem(16px);

  border-radius: rem(6px);

  @include media('<=phoneLandscape') {
    height: rem(50px);
  }
}

.clear {
  --padding: 0;
  --color: var(--brand-water);
  --bgColor: var(--transparent);
  width: v(height);
  @include transition((opacity));

  &:focus,
  &:hover {
    background-color: v('bgColor');
    opacity: v('extra-faded');
  }
}

.faded {
  $backgroundColor: var(--transparent);
  $color: adjust-color(c('off-white'), $lightness: -20%);

  background: $backgroundColor;
  box-shadow: inset 0 0 0 2px $color;
  color: $color;
  @include transition((box-shadow, color));

  &:focus,
  &:hover {
    background-color: $backgroundColor;
    color: c('off-white');
    box-shadow: inset 0 0 0 2px c('off-white');
  }
}

.white {
  $backgroundColor: var(--white);
  $color: black;
  mix-blend-mode: lighten;

  background: $backgroundColor;
  box-shadow: inset 0 0 0 2px $color;
  color: $color;
  @include transition((opacity));

  &:hover {
    background-color: $backgroundColor;
    opacity: 0.7;
  }
}
.orangeGradient,
.orangeGradientOutlined {
  @include inter($size: 16px, $weight: 600, $lh: 150%);
  border-radius: rem(6px);
  height: rem(56px);
  padding: rem(16px) rem(24px);

  &.medium {
    font-size: rem(14px);
    height: rem(41px);
    padding: rem(10px) rem(20px);
  }
}
.orangeGradient {
  --bgColor: var(--github-orange-gradient);

  &:hover {
    background-color: adjust-color(c('github-orange-gradient'), $saturation: -20%, $lightness: -6%);
  }
}
.orangeGradientOutlined {
  --bgColor: var(--transparent);
  --color: var(--github-orange-gradient);
  box-shadow: inset 0 0 0 2px v('github-orange-gradient');
  @include transition((box-shadow, color));

  &:focus,
  &:hover {
    background-color: v(bgColor);
    color: adjust-color(c('github-orange-gradient'), $saturation: -19%, $lightness: -6%);
    box-shadow: inset 0 0 0 2px adjust-color(c('github-orange-gradient'), $saturation: -19%, $lightness: -6%);
  }
}

.blue {
  background: linear-gradient(94.48deg, #0d102b 0%, #202659 100%);
  color: c('off-white');
  @include transition(opacity);

  @include inter($size: 16px, $weight: 600, $lh: 150%);

  &:hover {
    opacity: 0.9;
  }
}
.desktopOnly {
  @include media('<=phoneLandscape') {
    display: none;
  }
}

.mobileOnly {
  @include media('>phoneLandscape') {
    display: none;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}
