.button {
  --height: 40px;
  --radius: 1rem;
  --color: var(--white);
  --bgColor: var(--brand-fire);
  --padding: 0 3rem;
  text-decoration: none;
  font-size: 1.75rem;
  color: v(color);
  background-color: v(bgColor);
  border-radius: v(radius);
  padding: v(padding);
  height: v(height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  font-weight: v(semi);
  white-space: nowrap;
  @include transition((background-color));
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: adjust-color(c('brand-fire'), $lightness: -20%);
  }

  .icon {
    width: 2rem;
    height: 2rem;
    fill: v('color');

    &.mobileOnly {
      display: inline-block;

      @include media(">phoneLandscape") {
        display: none;
      }
    }
  }
}

.label {
  text-decoration: none;
  font-size: 1.75rem;
  color: v(color);
  line-height: 1;
  user-select: none;
  font-weight: v(semi);
  white-space: nowrap;
}

.outlined {
  --bgColor: var(--transparent);
  --color: var(--brand-fire);
  box-shadow: inset 0 0 0 2px v('brand-fire');
  @include transition((box-shadow, color));

  &:focus,
  &:hover {
    background-color: v(bgColor);
    color: adjust-color(c('brand-fire'), $lightness: -20%);
    box-shadow: inset 0 0 0 2px adjust-color(c('brand-fire'), $lightness: -20%);
  }
}

.small {
  height: 32px;
  padding: 0 1.5rem;
}

.clear {
  --padding: 0;
  --color: var(--brand-water);
  --bgColor: var(--transparent);
  width: v(height);
  @include transition((opacity));

  &:focus,
  &:hover {
    background-color: v('bgColor');
    opacity: v('extra-faded');
  }
}

.desktopOnly {
  @include media("<=phoneLandscape") {
    display: none;
  }
}

.mobileOnly {
  @include media(">phoneLandscape") {
    display: none;
  }
}
