.headerSection {
  padding: rem(32px) 0 rem(56px) 0;

  .headerContainer {
    text-align: center;
    padding-top: rem(40px);

    --contentWidth: 700px;

    @include media('<=phoneLandscape') {
      padding-top: rem(60px);

      text-align: left;
    }

    .headerDescription {
      font-family: v(jb-mono);
      font-size: rem(32px);
      line-height: 130%;
      font-weight: v('bold');

      @include media('<=phoneLandscape') {
        font-size: rem(24px);
      }
    }
  }
}
.faqSection {
  overflow: hidden;

  padding: 0 0 rem(145px) 0;

  @include media('<=phoneLandscape') {
    padding: 0 0 rem(126px) 0;
  }
  .faqContainer {
    .faqHeader {
      margin-bottom: rem(40px);

      .faqTitle {
        font-size: rem(32px);
        line-height: 130%;
      }
    }
  }
  .link {
    border-bottom: 1px solid v('brand-fire');
    color: v('brand-fire');
  }
}
.contactSection {
  padding: 0 0 rem(99px) 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  @include media('<=phoneLandscape') {
    padding: 0 0 rem(64px) 0;
  }
  .contactContainer {
    --contentWidth: 505px;

    .contactTitle {
      font-size: rem(32px);
      line-height: 130%;

      margin-bottom: rem(32px);

      @include media('<=phoneLandscape') {
        font-size: rem(26px);
        line-height: 120%;
        letter-spacing: -0.01em;
      }
    }
  }
}

.calculator {
  padding: 0 0 rem(80px) 0;
}

.faqContent {
  max-width: 584px;
}
