.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(32px);
  --contentWidth: 1270px;

  @include media('<=desktop') {
    display: flex;
    flex-direction: column;
  }
}

.descriptionSection,
.botDSection {
  padding-top: rem(72.5px);
  padding-bottom: rem(145px);

  @include media('<=desktop') {
    padding-top: rem(48px);
    padding-bottom: rem(60px);
  }
}

.descriptionSection {
  .title {
    @include sans($size: 14px, $weight: 600, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
    letter-spacing: 0.04em;
    text-transform: uppercase;

    display: inline-block;
    background: #f2f2f7;
    border-radius: 4px;
    padding: rem(4px) rem(10px) rem(5px) rem(10px);
    margin-bottom: rem(16px);

    @include media('<=phoneLandscape') {
      font-size: rem(11px);
    }
  }
  @include media('<=phoneLandscape') {
    padding-top: rem(48px);
    padding-bottom: rem(60px);
  }
}
.subTitle {
  font-size: rem(44px);
  font-weight: v('bold');

  margin-bottom: rem(16px);
  padding-right: rem(100px);

  @include media('<=phoneLandscape') {
    font-size: rem(26px);
    padding-right: 0;
  }
}

.description {
  @include sans($size: 16px, $weight: 400, $lh: 150%);

  margin-bottom: rem(48px);
  padding-right: rem(160px);

  @include media('<=phoneLandscape') {
    font-size: rem(16px);
    padding-right: 0;
  }
}

.botsWord {
  color: c('brand-fire');
}

.buttons {
  .buttonOutlined {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px v('brand-fire');
    @include transition((box-shadow, color));

    height: 58px;
    padding: 0 rem(24px);
    font-weight: 500;
    font-size: rem(16px);
    color: c('brand-fire');
    border-radius: rem(6px);
    margin-left: rem(16px);
    fill: c('brand-fire');

    @include transition((box-shadow, color, fill));

    &:focus,
    &:hover {
      color: adjust-color(c('brand-fire'), $lightness: -20%);
      box-shadow: inset 0 0 0 2px adjust-color(c('brand-fire'), $lightness: -20%);
      fill: adjust-color(c('brand-fire'), $lightness: -20%);
    }

    .icon {
      margin-right: rem(10px);

      @include media('<=phoneLandscape') {
        display: none;
      }
    }
  }
}
.botDSection {
  .botTitle {
    @include sans($size: 14px, $weight: 600, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.5));
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: rem(4px);
  }
  .botD {
    box-shadow: 0px 20px 40px rgba(13, 16, 41, 0.1);
    letter-spacing: 0.01em;

    border-radius: rem(16px);
    padding: rem(24px);

    .botSubTitle {
      @include sans($size: 24px, $weight: 600, $lh: 100%);
      letter-spacing: 0.01em;

      display: flex;
      align-items: center;
    }

    .seeDetails {
      @include sans($size: 16px, $weight: 500, $lh: 150%, $color: c('brand-fire'));
      cursor: pointer;
      display: inline-block;

      margin-top: rem(16px);
      margin-bottom: rem(40px);
      @include transition(color);

      &:hover {
        color: adjust-color(c('brand-fire'), $lightness: -20%);
      }
    }

    @include media('<=phoneLandscape') {
      padding: rem(16px);
    }

    .tryAgainIcon {
      width: rem(16px);
      height: rem(16px);
      margin-left: rem(12px);

      cursor: pointer;
    }
  }
  @include media('<=phoneLandscape') {
    padding-top: 0;
    padding-bottom: rem(128px);
  }
}

.cards {
  display: grid;
  column-gap: rem(24px);
  row-gap: rem(22px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @include media('<=phoneLandscape') {
    grid-template-columns: 1fr;
    row-gap: rem(8px);
  }

  .card {
    display: flex;
    align-items: center;

    padding: rem(24px) rem(16px) rem(24px) rem(20px);
    border: 1.6px solid rgba(227, 227, 237, 0.5);
    border-radius: 8px;
  }

  .botType {
    display: flex;
    margin-bottom: rem(4px);
    align-items: center;

    .cardTitle {
      @include sans($size: 14px, $weight: 500, $lh: 150%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
      margin-right: rem(8px);
    }
    .infoIcon {
      width: rem(14px);
      height: rem(14px);
    }
  }

  .detected {
    @include sans($size: 20px, $weight: 600, $lh: 120%);
  }
  .iconContainer {
    padding-right: rem(16px);

    .botIcon {
      width: rem(64px);
      height: rem(64px);

      fill: #f2f2f7;

      &.errorState {
        fill: #ffe4ec;
      }
    }
  }
}

.loadingError {
  background-color: #ffe4ec;
  animation: none;
}
