.diagramRoot,
.diagramSection,
.visitsRoot,
.visitsDiagramRoot {
  background: #f9f9fb;
}
.diagramSection {
  @include media('<=phoneLandscape') {
    padding-bottom: rem(80px);
  }
}
.diagramRoot {
  padding-top: rem(96px);
  padding-bottom: rem(40px);

  text-align: center;

  @include media('<=phoneLandscape') {
    padding-top: rem(64px);
  }

  @include media('<=tablet') {
    text-align: left;
  }
  .title {
    @include inter($size: 32px, $weight: 700, $lh: 48px);
    letter-spacing: -0.01em;
    padding-bottom: rem(8px);

    @include media('<=phoneLandscape') {
      font-size: rem(26px);
      line-height: 32px;
    }
  }
  .description {
    @include inter($size: 20px, $weight: 400, $lh: 160%);

    @include media('<=phoneLandscape') {
      font-size: rem(16px);
    }
  }
}

.visitsRoot,
.visitsDiagramRoot {
  display: flex;
  justify-content: space-between;

  @include media('<=tablet') {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .title {
    max-width: rem(448px);
    align-self: center;

    @include inter($size: 32px, $weight: 700, $lh: 48px);
    letter-spacing: -0.01em;

    @include media('<=desktop') {
      max-width: rem(323px);
    }

    @include media('<=tablet') {
      padding-bottom: rem(32px);
      max-width: unset;
      align-self: start;
    }
    @include media('<=phoneLandscape') {
      font-size: rem(26px);
      line-height: 32px;
    }
  }
}
.visitsDiagramRoot {
  .title {
    @include media('<=tablet') {
      padding-bottom: rem(70px);
    }
  }
}
.visitsRoot {
  column-gap: rem(64px);
  padding-top: rem(96px);
  padding-bottom: rem(160px);

  @include media('<=tablet') {
    flex-direction: column-reverse;
    padding-bottom: rem(83px);
    padding-top: 0;
  }
  .title {
    margin-right: rem(128px);

    @include media('<=desktop') {
      margin-right: 0;
    }
  }

  .visitsSection {
    min-width: rem(506px);

    @include media('<=desktop') {
      min-width: rem(360px);
    }

    @include media('<=tablet') {
      min-width: unset;
    }
  }
}

.visitsDiagramRoot {
  padding-bottom: rem(120px);

  @include media('<=desktop') {
    padding-bottom: rem(66px);
  }
  @include media('>desktop') {
    column-gap: rem(95px);
  }
}
