.rootOrdered {
  counter-reset: number;

  .item {
    counter-increment: number;

    &:before {
      content: counter(number) '.';
      font-size: 2rem;
      color: v('brand-fire');
      margin-right: 1rem;
    }

    + .item {
      margin-top: 1.5rem;
    }
  }
}
