.postGrid {
  margin-top: 4rem;
  display: flex;

  @include media('<=tabletWide') {
    flex-direction: column-reverse;
    margin-top: 0;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.alignNameCenter {
  @include media('>phoneLandscape') {
    justify-content: center;
  }
}

.name {
  font-size: rem(32px);
  line-height: 130%;
  letter-spacing: -0.01em;

  @include media('<=phoneLandscape') {
    @include inter($size: 20px, $lh: 130%, $weight: 600);
    letter-spacing: 0.01em;
  }
}
.nameThreePerRow {
  font-size: rem(20px);
  line-height: 150%;
  letter-spacing: 0.01em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: rem(20px);

  @include media('<=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('<=tabletWide') {
    grid-template-columns: 1fr;
  }
}

.threePerRow {
  grid-template-columns: repeat(3, 1fr);

  @include media('<=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('<=tabletWide') {
    grid-template-columns: 1fr;
  }
}

.tags {
  min-width: 20rem;
  margin-left: rem(32px);

  .sticky {
    position: sticky;
    top: var(--header-height);

    @include media('<=desktop') {
      top: rem(5px);
    }

    caption {
      margin-bottom: rem(14px);
      @include inter($size: 14px, $weight: 600, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
      text-transform: uppercase;
      letter-spacing: 0.04em;

      @include media('<=tabletWide') {
        margin-bottom: 0;
      }
    }
  }

  @include media('<=tabletWide') {
    margin-top: 4rem;
    margin-left: 0;
    margin-bottom: rem(8px);
  }
}

.swiperSection {
  margin-top: rem(52px);

  @include media('<=tabletWide') {
    margin-top: rem(28px);
  }
}

.bullets {
  width: auto !important;
}

@include media('<=desktop') {
  .firstItem,
  .bullets,
  .name {
    margin-left: rem(20px);
  }
}

.post {
  @include media('<=desktop') {
    width: 23vw;
  }

  @include media('<tablet') {
    width: 65vw;
  }
}

.desktopOnly {
  @include media('<=desktop') {
    display: none;
  }
}

.mobileOnly {
  @include media('>desktop') {
    display: none;
  }
}

.nameThreePerRow {
  @include inter($size: 20px, $weight: 600, $lh: 140%);
  letter-spacing: 0.01em;

  margin-left: 0;
  @include media('<=tabletWide') {
    display: none;
  }
}
