.slider {
  --left: 0%;
  position: relative;

  @include media('<=phoneLandscape') {
    padding-top: 3rem;
  }

  .label,
  .labelBelow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 24px;
    margin-bottom: 1rem;

    .text {
      @include jb-mono($size: 14px, $weight: v(bold), $lh: 21px);
    }
    .text,
    .labelBelowText {
      flex: 1;
      text-align: center;
      font-weight: v(semi);
      cursor: pointer;

      @for $i from 2 to 5 {
        &:nth-child(#{$i}) {
          transform: translateX(calc((100% / 5) * (#{$i - 1}) - 40%));
        }
      }

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    .labelBelowText {
      @include inter($size: 16px, $weight: v(semi), $lh: 130%);

      margin-top: rem(28px);

      &:nth-child(2) {
        transform: translateX(-15%);
      }
      &:nth-child(4) {
        transform: translateX(15%);
      }
    }
  }

  .inputContainer {
    background-color: v('off-white');
    border-radius: 2rem;
    height: 20px;
    padding: 0.25rem 0.75rem;
    display: flex;
    align-items: center;
  }

  .containerLabelsBelow {
    height: rem(30px);
  }

  .input {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;

    // Generic focus
    &:focus {
      outline: none;
    }

    // Webkit (Chrome / Safari etc.)
    &::-webkit-slider-runnable-track {
      all: unset;
      background-image: linear-gradient(
        to right,
        v('github-orange-gradient') var(--left),
        v('transparent') var(--left),
        v('transparent')
      );
      width: 100%;
      height: 1.25rem;
      border-radius: 1rem;
      cursor: pointer;
      align-self: center;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: v('white');
      border-radius: 100%;
      height: var(--thumb-size);
      width: var(--thumb-size);
      cursor: pointer;
      margin-top: -4px;
      box-shadow: 0 5px 14px 0 adjust-color(c('brand-water'), $alpha: -0.9);
    }

    // Firefox
    &::-moz-range-track {
      all: unset;
      background-image: linear-gradient(
        to right,
        v('github-orange-gradient') var(--left),
        v('transparent') var(--left),
        v('transparent')
      );
      width: 100%;
      height: 1.25rem;
      border-radius: 1rem;
    }

    &::-moz-range-thumb {
      all: unset;
      background: v('white');
      border-radius: 100%;
      height: var(--thumb-size);
      width: var(--thumb-size);
      cursor: pointer;
      margin-top: -4px;
      box-shadow: 0 5px 14px 0 adjust-color(c('brand-water'), $alpha: -0.9);
    }
  }
  .inputLabelsBelow {
    // Adding padding to increase the clickable space
    padding: rem(30px) 0;

    &::-webkit-slider-runnable-track {
      height: 100%;
      border-radius: var(--thumb-size);
    }
    &::-webkit-slider-thumb {
      margin-top: 0;
      transform: translateX(-1px);
      box-shadow: 0px 2px 4px rgba(13, 16, 43, 0.2);
    }

    &::-moz-range-track {
      height: 100%;
      border-radius: var(--thumb-size);
    }
    &::-moz-range-thumb {
      margin-top: 0;
      transform: translateX(-1px);
      box-shadow: 0px 2px 4px rgba(13, 16, 43, 0.2);
    }
  }
}

.sliderLabelsBelow {
  @include media('<=phoneLandscape') {
    padding-top: 0;
  }
}
