.root {
  overflow: hidden;

  padding: 5rem 0 4rem;

  @include media('<=phoneLandscape') {
    padding-bottom: 3rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  --contentWidth: 780px;
}

.title {
  font-size: 3.5rem;

  margin-bottom: 5rem;

  @include media('<=phoneLandscape') {
    font-size: 3rem;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  @include media('<=phoneLandscape') {
    border-spacing: 0;
    table-layout: fixed;
  }

  .optionColumns,
  .buttonsColumns {
    border-bottom: none;
  }

  td {
    padding: 1rem 0;
  }

  tr {
    border-bottom: 1px solid adjust-color(c('off-white'), $lightness: -10%);
  }

  th:nth-child(1) {
    width: 45%;
  }

  th:nth-child(2),
  th:nth-child(3) {
    width: 27.5%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    background-color: var(--off-white);
  }

  .proRow {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .ButtonRow {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .featureTitleColumn {
    font-weight: bolder;
    font-size: 2.5rem;

    padding-top: 3rem;
  }

  .description {
    font-style: italic;

    .link {
      text-decoration: underline;
    }
  }

  .description,
  .featureColumn,
  .versionColumn {
    font-size: 1.75rem;
  }

  .optionColumns,
  .versionColumn {
    text-align: center;
  }

  .versionColumn {
    padding: 0 1rem;

    @include media('<=phoneLandscape') {
      font-size: 1.5rem;
    }
  }

  .versionColumnStrong {
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .version {
    margin-top: 2rem;
  }

  .button {
    margin: 3rem;

    @include media('<=phoneLandscape') {
      white-space: normal;

      width: 100%;
      margin: 1rem 0;
      padding: 1rem;
    }
  }
}

.footer {
  margin-top: 3rem;

  .note {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
