.root {
  margin-top: 2rem;
}

.horizontal {
  display: inline-block;
}

.vertical {
  display: block;
}

.item {
  margin-right: 1rem;
  margin-top: 1rem;
}

.tag {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: c('off-white');
  border: 1px solid c('off-white');

  font-size: 1.75rem;

  @include transition((color, border));

  &:hover {
    border: 1px solid c('brand-fire');
    color: c('brand-fire');
  }
}

.highlight {
  border: 1px solid c('brand-fire');
  color: c('brand-fire');
}
