.root {
  margin-top: 2rem;
}

.horizontal {
  display: inline-block;
}

.vertical {
  display: flex;
  margin: 0 !important;

  .tag {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.item {
  margin-right: 1rem;
  margin-top: 1rem;
  padding-bottom: rem(8px);
}

.tag {
  padding: rem(8px);
  border-radius: rem(14px);
  background-color: c('off-white');
  border: 1px solid c('off-white');

  font-weight: 500;
  font-size: 1.75rem;

  @include transition((color, border));

  &:hover {
    border: 1px solid c('brand-fire');
    color: c('brand-fire');
  }
}

.highlight {
  border: 1px solid c('brand-fire');
  color: c('brand-fire');
}
