{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "prismjs",
      {
        // we need to include all languages used on the site including those used in markdown
        "languages": ["javascript", "html", "css", "php", "sql", "bash", "python", "hbs"],
        "plugins": ["line-numbers"]
      }
    ]
  ]
}
