.integrationCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, rem(288px));
  grid-template-rows: auto;
  column-gap: rem(32px);
  row-gap: rem(56px);

  @include media('<=phoneLandscape') {
    display: flex;
    flex-direction: column;
  }
}
