.root {
  background: #202021;
  color: v('github-white');
  padding-top: rem(168px);
  padding-bottom: rem(168px);

  @include media('<=phoneLandscape') {
    padding-top: rem(64px);
    padding-bottom: rem(69px);
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: rem(48px);

  @include media('<=phoneLandscape') {
    padding-bottom: rem(32px);
  }

  .labelWrapper {
    @include labelOrange;
  }

  .title {
    @include inter($size: 48px, $weight: 600, $lh: 130%);
    letter-spacing: -0.01em;

    padding-top: rem(24px);
    @include media('<=phoneLandscape') {
      padding-top: rem(16px);
      font-size: rem(24px);
    }

    @include media('<=phone') {
      max-width: rem(290px);
    }
  }
  .description {
    @include inter($size: 20px, $weight: 400, $lh: 160%);
    padding-top: rem(8px);

    @include media('<=phoneLandscape') {
      padding-top: rem(8px);
      font-size: rem(16px);
    }
    @include media('<=phone') {
      max-width: rem(290px);
    }
  }
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(20px);
  max-width: rem(970px);
  justify-items: center;
  margin: auto;

  @include media('<=phoneLandscape') {
    grid-template-columns: 1fr;
    row-gap: rem(40px);
  }

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include media('<=phoneLandscape') {
      row-gap: rem(16px);
    }
    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      height: rem(96px);
      width: rem(96px);
      margin-bottom: rem(24px);

      svg {
        width: 100%;
      }
      @include media('<=phoneLandscape') {
        margin-bottom: 0;
      }
    }

    .cardTitle {
      text-align: center;
      @include inter($size: 20px, $weight: 600, $lh: 130%);

      @include media('<=phoneLandscape') {
        font-size: rem(16px);
        width: 500;
        max-width: rem(126px);
      }
    }
  }
}
