.card {
  flex: 1 0 auto;

  border-radius: 8px;
  box-shadow: 0px 0px 20px 20px rgba(72, 76, 108, 0.044116);
  background-color: v('white');

  padding: 4rem;

  .icon {
    border-radius: 0;
    width: 3.5rem;
    height: auto;

    margin-bottom: 3.25rem;
  }

  .title {
    font-family: v(ff-mono);
    font-size: 2rem;
  }

  .content {
    margin-top: 1.75rem;

    font-size: 1.75rem;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 4rem;

  .item {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 1.5rem;
  }

  .twoPerRow {
    flex: 0 50%;

    @include media('<=tablet') {
      flex: 0 100%;
    }
  }
  .threePerRow {
    flex: 0 33%;

    @include media('<=desktop') {
      flex: 0 100%;
    }
  }
  .fourPerRow {
    flex: 0 25%;

    @include media('<=desktop') {
      flex: 0 50%;
    }

    @include media('<=tablet') {
      flex: 0 100%;
    }
  }
}

.row {
  min-height: 3.5rem;
  overflow: hidden;
}
