.root {
  overflow: hidden;

  padding: 0 0 rem(80px) 0;

  @include media('<=desktop') {
    padding: rem(64px) 0 rem(80px) 0;
  }

  @include media('<=phoneLandscape') {
    padding: rem(64px) 0 rem(108px) 0;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 0 rem(20px) rem(56px) rem(20px);

  .title {
    font-size: rem(40px);
    font-weight: v('bold');
    line-height: rem(53px);

    padding: 0 rem(6px) rem(20px) rem(6px);

    @include media('<=phoneLandscape') {
      font-size: rem(27px);
      line-height: 120%;
      letter-spacing: -0.01em;
    }
  }

  .description {
    @include inter($size: 16px, $lh: 150%, $color: adjust-color(c('brand-water'), $alpha: -0.3));

    max-width: rem(490px);
  }

  .link {
    padding-top: rem(24px);
    cursor: pointer;
    color: v('brand-fire');

    &:hover {
      color: adjust-color(c('brand-fire'), $lightness: -20%);
    }
  }
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  --contentWidth: 745px;

  @include media('<=phoneLandscape') {
    grid-template-columns: 1fr;

    row-gap: rem(40px);
  }

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      height: rem(96px);
      width: rem(96px);
      margin-bottom: rem(24px);

      box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
      border-radius: rem(16px);

      @include media('<=phoneLandscape') {
        margin-bottom: rem(16px);
      }
    }

    .cardTitle {
      @include inter($size: 16px, $weight: v('semi'), $lh: 150%);
    }
  }
}
