.section {
  padding-top: 5rem;
  padding-bottom: 0;
}

.bodySection {
  padding-bottom: 0;
}

.container {
  @include media('<=tablet') {
    padding: 0;
  }
}

.body {
  padding: 0 6rem;

  @include media('<=tabletWide') {
    padding: 0 3rem;
  }

  h3 {
    font-size: 2.75rem;
  }

  p {
    font-size: 2.25rem;
  }

  blockquote {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  ul,
  ol {
    li {
      margin: 0;
      padding: 0;

      font-size: 2.25rem;
    }
  }
}
