.container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  font-family: v('ff-mono');

  margin-bottom: 2rem;

  @include media('>1250px') {
    margin-bottom: 6rem;
  }
}

.authors {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 5rem;

  @include media('<=phoneLandscape') {
    margin-bottom: 2rem;
  }

  @include media('>1250px') {
    position: absolute;
    flex-direction: column;

    margin-top: 16rem;

    // Container padding to match header
    left: unquote('max(3rem, 50vw - 1232px / 2)');
  }
}

.author {
  margin-right: 2rem;
  margin-bottom: 2rem;

  @include media('>1250px') {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.comments {
  margin-top: 6rem;
}
