.root {
  padding-bottom: rem(48px);
  padding-top: rem(24px);
}

.container {
  display: grid;
  grid-template-columns: min(20vw, 300px) rem(766px) 1fr;
  grid-template-rows: auto;

  column-gap: rem(34px);

  grid-template-areas:
    '. header .'
    'author body .';

  --contentWidth: 1232px;

  @include media('<=1250px') {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;

    --contentWidth: 766px;
  }

  @include media('<=phoneLandscape') {
    padding: 0 rem(20px);
  }
}

.body {
  grid-area: body;

  @include media('<=1250px') {
    position: relative;
  }
}
.header {
  grid-area: header;
}

.title {
  font-size: 4rem;
  font-family: v('jb-mono');

  margin-bottom: 2rem;
  padding-top: rem(32px);

  @include media('>1250px') {
    margin-bottom: rem(16px);
  }

  @include media('<=phoneLandscape') {
    font-size: rem(27px);
  }
}

.actionBar {
  margin-bottom: rem(48px);

  @include media('<=phoneLandscape') {
    margin-bottom: rem(40px);
  }

  &.desktopOnly {
    @include media('<=phoneLandscape') {
      display: none;
    }
  }
  &.mobileOnly {
    @include media('>phoneLandscape') {
      display: none;
    }
  }
}

.authors {
  grid-area: author;

  margin-bottom: 5rem;

  @include media('<=phoneLandscape') {
    margin-bottom: 2rem;
  }

  @include media('<=1250px') {
    display: flex;
    flex-wrap: wrap;
  }
}

.author {
  margin-right: 2rem;
  margin-bottom: 2rem;

  @include media('>1250px') {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.cta {
  grid-area: author;

  display: flex;
  flex-direction: column;

  @include media('<=1250px') {
    position: sticky;
    bottom: rem(24px);
  }

  .card {
    @include media('>1250px') {
      margin-top: auto;
      position: sticky;
      bottom: rem(24px);
    }
  }
}

.footerTags {
  padding-bottom: rem(48px);
  .title {
    @include inter($size: 20px, $weight: 600, $lh: 150%);
    letter-spacing: 0.01em;
  }
}

.relatedArticles {
  padding-top: rem(80px);
  padding-bottom: rem(16px);

  @include media('<=desktop') {
    padding: rem(40px) 0 rem(16px) 0;
  }
}
