$layoutBreakpoint: '<=1250px';

.root {
  padding-bottom: rem(48px);
  padding-top: rem(24px);
}

.container {
  display: grid;
  grid-template-columns: min(20vw, 300px) rem(768px) 1fr;
  grid-template-rows: auto;

  column-gap: rem(34px);

  grid-template-areas:
    'back header .'
    '. title .'
    '. code .'
    '. body .';

  @include media($layoutBreakpoint) {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;

    --contentWidth: 766px;
  }

  @include media('<=phoneLandscape') {
    padding: 0 rem(20px);
  }
}
.backLink {
  grid-area: back;

  @include inter($size: 14px, $weight: 400, $lh: 150%);
  @include transition((opacity));
  opacity: 1;

  &:hover {
    opacity: v('faded');
  }
}
.header {
  grid-area: header;

  .tags {
    display: flex;
    column-gap: rem(43px);

    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .tagList {
      margin-top: 0;
    }

    .tagLabel {
      @include inter($size: 14px, $weight: 600, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.5));
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }

    @include media($layoutBreakpoint) {
      padding-top: rem(24px);
    }
  }
}

.titleSection {
  grid-area: title;
  padding-top: rem(32px);
  padding-bottom: rem(44px);

  .title {
    font-size: rem(44px);
    list-style: 120%;
    letter-spacing: -0.01em;

    margin-bottom: rem(16px);

    @include media('<=phoneLandscape') {
      font-size: rem(26px);
    }
  }
  .description {
    @include inter($size: 20px, $weight: 400, $lh: 150%);

    @include media('<=phoneLandscape') {
      font-size: rem(16px);
    }
  }
}

.codeSection {
  grid-area: code;
  padding-top: rem(80px);

  .label {
    @include inter($size: 14px, $weight: 600, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.5));
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: rem(16px);
  }

  .iframe {
    width: 100%;
    height: rem(408px);
    background-image: url('/img/uploads/spinner_use_cases_2.svg');
    background-color: hsl(222, 9.8%, 20%);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: rem(16px);
  }

  .buttons {
    display: flex;
    column-gap: rem(16px);

    margin-top: rem(40px);

    @include media('<=phoneLandscape') {
      flex-direction: column;
      row-gap: rem(16px);
      .button {
        width: 100%;
      }
    }
  }
}

.bodySection {
  grid-area: body;

  padding-bottom: rem(64px);

  @include media($layoutBreakpoint) {
    position: relative;
  }
}

.content {
  ul {
    li {
      &::marker {
        content: normal;
        color: v('brand-water');
      }
    }
  }

  ol {
    li {
      &::marker {
        color: v('brand-water');
      }
    }
  }
  a {
    strong {
      text-decoration: none;
      font-weight: 600 !important;

      @include transition((color));

      &:hover {
        color: adjust-color(c('brand-fire'), $lightness: -20%);
      }
    }
  }
}

.relatedUseCases {
  padding-top: rem(30px);
  padding-bottom: rem(16px);

  @include media('<=desktop') {
    padding: rem(40px) 0 rem(16px) 0;
  }
}

.bottomLinks {
  display: flex;
  column-gap: rem(24px);

  @include media('<=phoneLandscape') {
    flex-direction: column;
    row-gap: rem(16px);
  }

  a {
    @include inter($size: 20px, $weight: 600, $lh: 150%, $color: v('brand-fire'));
    @include transition((color));
    &:hover {
      color: adjust-color(c('brand-fire'), $lightness: -20%);
    }
    @include media('<=phoneLandscape') {
      font-size: rem(16px);
    }
  }
}
