.root {
  margin-top: 4rem;

  display: flex;

  @include media('<=tabletWide') {
    flex-direction: column-reverse;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: rem(32px);
  line-height: 130%;
  letter-spacing: -0.01em;

  @include media('<=tablet') {
    padding-left: rem(20px);
  }

  @include media('<=phoneLandscape') {
    @include inter($size: 18px, $lh: 130%, $weight: 600);
    letter-spacing: 0.01em;
    padding-left: rem(20px);
  }
}

.tags {
  min-width: 20rem;
  margin-right: 4rem;

  @include media('<=tabletWide') {
    margin-top: 4rem;
  }
  h2 {
    margin-bottom: rem(64px + 5px);
    font-size: rem(32px);
  }
}

.swiperSection {
  margin-top: rem(52px);

  @include media('<=tabletWide') {
    margin-top: rem(28px);
  }
}

.bullets {
  width: auto !important;
}

@include media('<=desktop') {
  .firstItem,
  .bullets,
  .name {
    margin-left: rem(20px);
  }
}

.useCase {
  @include media('<=desktop') {
    width: 23vw;
  }

  @include media('<tablet') {
    width: 65vw;
  }
}

.desktopOnly {
  margin-top: rem(28px);

  @include media('<=desktop') {
    display: none;
  }
}

.mobileOnly {
  @include media('>desktop') {
    display: none;
  }
}
