.root {
  overflow: hidden;

  padding: 0 0 rem(128px) 0;

  @include media('<=phoneLandscape') {
    padding: 0 0 rem(42px) 0;
  }
}

.titleContainer {
  text-align: center;

  padding-bottom: rem(64px);
  --contentWidth: 604px;

  .title {
    font-size: rem(32px);
    font-weight: v('bold');
    line-height: 150%;

    margin-bottom: rem(16px);

    @include media('<=desktop') {
      font-size: rem(30px);
    }

    @include media('<=tablet') {
      font-size: rem(28px);
    }
  }

  .description {
    @include inter($size: 16px, $color: adjust-color(c('brand-water'), $alpha: -0.3));

    @include media('<=desktop') {
      font-size: rem(19px);
    }

    @include media('<=tablet') {
      font-size: rem(14px);
    }
  }
}
.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include gap(rem(24px));

  @include media('<=phoneLandscape') {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;

    padding: rem(32px);
    width: 100%;

    box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
    border-radius: rem(16px);

    .label {
      @include inter(
        $size: 14px,
        $color: adjust-color(c('brand-water'), $alpha: -0.5),
        $lh: 140%,
        $weight: v('normal')
      );
      text-transform: uppercase;

      margin-top: rem(38px);
      margin-bottom: rem(8px);
    }

    .title {
      font-size: rem(32px);
      font-weight: v('bold');
      line-height: 130%;
      margin-bottom: rem(8px);

      @include media('<=desktop') {
        font-size: rem(30px);
      }

      @include media('<=tablet') {
        font-size: rem(28px);
        line-height: 120%;
      }
    }

    .description {
      font-size: rem(16px);
      line-height: 150%;
      color: adjust-color(c('brand-water'), $alpha: -0.3);

      margin-bottom: rem(48px);

      @include media('<=tablet') {
        font-size: rem(14px);
      }
    }
    .contentSection {
      flex: 1;

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: rem(24px);

      @include inter();
      @include media('<=phoneLandscape') {
        display: flex;
        flex-direction: column;
        row-gap: rem(24px);
      }

      .sectionTitle {
        font-size: rem(14px);
        font-weight: v('semi');
        line-height: 130%;

        margin-bottom: rem(8px);
      }

      .sectionDescription {
        font-size: rem(14px);
        line-height: 150%;
        color: adjust-color(c('brand-water'), $alpha: -0.3);
      }
    }
    .button {
      margin-top: rem(54px);
      white-space: normal;
      text-align: center;
      align-self: flex-start;
    }
  }
}

.imageSection,
.imageSectionMobile {
  svg {
    width: 100%;
    height: 100%;
  }
}
