.root {
  display: flex;
  justify-content: flex-end;
  column-gap: rem(16px);

  width: 100%;
  padding-top: 6rem;

  @include media('<=phoneLandscape') {
    justify-content: space-between;

    .button {
      min-width: rem(152px);
    }
  }
}

.first {
  justify-content: flex-end;
}
