.content {
  display: block;
  background-color: v('white');
}

.idsPerMonth {
  margin: auto;
  border: none;
  margin-bottom: rem(40px);
  max-width: rem(420px);

  @include media('<=phoneLandscape') {
    width: 95%;
  }

  .title {
    @include inter($size: 16px, $weight: v('semi'), $lh: 130%);
    margin-bottom: rem(16px);

    text-align: center;

    @include media('<=phoneLandscape') {
      text-align: left;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(32px);

  @include media('<=phoneLandscape') {
    grid-template-columns: 1fr;
    row-gap: rem(24px);
  }
}

.pricingCard {
  padding: rem(32px);
  box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
  border-radius: rem(16px);
  text-align: left;

  @include media('<=phoneLandscape') {
    padding: rem(24px);
  }

  &.enterpriseCard {
    background-color: v('brand-water');
    color: v('white');

    .billed,
    .footNote {
      color: v('white');
    }
    .period {
      display: none;
    }
    .icon {
      fill: v('white');
    }
  }

  .priceSection,
  .benefitsSection,
  .footNote,
  .billed {
    @include transition((opacity));
    @include transition-duration(0.25s);
  }

  &.disabled {
    .priceSection,
    .benefitsSection,
    .footNote,
    .billed {
      opacity: 0.3;
    }

    .period {
      display: none;
    }
  }

  .priceSection {
    padding-bottom: rem(8px);
  }
  .cardLabel {
    @include inter($size: 16px, $weight: 600, $lh: 130%);

    margin-bottom: rem(16px);
  }

  .price {
    @include inter($size: 32px, $weight: v('semi'), $lh: 120%);
    letter-spacing: -0.01em;
  }

  .period {
    @include inter($size: 16px, $color: adjust-color(c('brand-water'), $alpha: -0.3), $lh: 150%);

    vertical-align: super;
  }

  .billed {
    @include inter($size: 16px, $color: adjust-color(c('brand-water'), $alpha: -0.3), $lh: 150%);
    min-height: rem(48px);

    margin-bottom: rem(40px);

    @include media('<desktop') {
      min-height: rem(72px);
    }
  }
  .ctaButton {
    margin-bottom: rem(40px);

    @include media('<=phoneLandscape') {
      width: 100%;
    }
  }
}

.benefitsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media('<desktop') {
    column-gap: rem(6px);
  }

  .root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: rem(32px);

    @include media('<=phoneLandscape') {
      margin-bottom: rem(6px);
    }
  }

  .header {
    @include inter($size: 14px, $weight: v('semi'), $lh: 140%);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: rem(16px);
  }

  .feature {
    display: flex;
    flex-direction: row;
    @include inter($size: 16px, $weight: v('normal'), $lh: 150%);

    margin-bottom: rem(16px);

    @include media('<=phoneLandscape') {
      font-size: rem(14px);
    }

    .featureLink {
      text-decoration: underline;
      @include transition((opacity));

      &:hover {
        opacity: v('faded');
      }
    }
  }

  .icon {
    width: rem(18px);
    height: rem(13px);
    margin-right: rem(15px);
    margin-top: rem(4px);

    fill: #0d102b;
  }

  .featureDisabled {
    opacity: 0.5;
  }
}

.footNote {
  @include inter($size: 14px, $color: adjust-color(c('brand-water'), $alpha: -0.3), $weight: v('normal'), $lh: 150%);
}
