.section {
  padding: 20rem 0;
  position: relative;

  @include media('<=tabletWide') {
    padding: 14rem 0;
  }

  @include media('<=phoneLandscape') {
    padding: 7rem 0;
  }

  &::before {
    content: '';
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../../../img/hero-1920+.png');
    background-position: center 75%;

    @include media('<=tabletWide') {
      background-image: url('../../../img/hero-1366+.png');
      background-size: 80vw auto;
    }

    @include media('<=phone') {
      background-image: url('../../../img/hero-768+.png');
      background-size: 80vw auto;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.subHeader {
  background-color: c('white');
}

.button {
  margin: 0 auto;
  margin-top: 0.5rem;
}
