.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  @include gap(5rem);

  > * + * {
    @include media("<=desktop") {
      margin-top: 10rem;
      margin-left: 0rem;
    }

    @include media("<=tabletWide") {
      margin-top: 5rem;
    }
  }

  @include media("<=desktop") {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
  }

  @include media("<=phoneLandscape") {
    padding: 0;
  }
}

.liveDemo {
  overflow: hidden;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 1400px auto;
  background-position: 35vw 40%;
  background-image: url('../../img/bg-full.png');


  @include media(">phoneLandscape", "<=desktop") {
    background-position: center bottom;
  }

  @include media("<phoneLandscape") {
    background-position: center 80vh;
  }


  @include media("<=desktop") {
    display: block;
    min-height: unset;
    padding-bottom: 3rem;
  }
}

.header, 
.content {
  flex: 1;
}

.content {
  min-width: 600px;
  z-index: 0;

  @include media("<=desktop") {
    max-width: 100%;
    min-width: unset;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @include media("<=phoneLandscape") {
    display: block;
  }
}
.header {
  max-width: 50rem;

  @include media("<=desktop") {
    text-align: center;
    max-width: 65rem;
  }

  @include media("<=phoneLandscape") {
    padding: 0 3rem;
  }
}

.title {
  @include media("<=phone") {
    font-size: 4rem;
  }
}

.description {
  font-size: 3rem;
  margin: 3rem 0 5rem 0;
}