.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: 1400px auto;

  overflow: hidden;

  // We need !important to be able to change the background image opacity
  // https://stackoverflow.com/a/62255366
  &:before,
  &:after {
    opacity: 0.2 !important;
  }
}

.header {
  margin-bottom: 3rem;
}
