.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  @include gap(5rem);

  > * + * {
    @include media('<=desktop') {
      margin-top: 10rem;
      margin-left: 0rem;
    }

    @include media('<=tabletWide') {
      margin-top: 5rem;
    }
  }

  @include media('<=desktop') {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
  }

  @include media('<=phoneLandscape') {
    padding: 0;
  }
}

.liveDemo {
  display: flex;
  align-items: center;
  overflow: hidden;

  @include media('>desktop') {
    padding: 1rem 0 6rem;
  }

  @include media('<=desktop') {
    display: block;
    min-height: unset;
    padding: 3rem 0 3rem;
  }
}

.content {
  z-index: 0;

  @include media('<=desktop') {
    max-width: 100%;
    min-width: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include media('<=phoneLandscape') {
    display: block;
  }
}

.title {
  text-align: center;
  padding-bottom: 1rem;

  @include media('<=desktop') {
    margin-bottom: 3rem;
  }

  @include media('>phoneLandscape', '<=desktop') {
    font-size: 4.5rem;
  }

  @include media('<=phoneLandscape') {
    padding: 0 3rem;
  }
}
