.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  @include gap(5rem);

  > * + * {
    @include media('<=desktop') {
      margin-top: 10rem;
      margin-left: 0rem;
    }

    @include media('<=tabletWide') {
      margin-top: 5rem;
    }
  }

  @include media('<=desktop') {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
  }

  @include media('<=phoneLandscape') {
    padding: 0;
  }
}

.liveDemo {
  display: flex;
  align-items: center;

  background-repeat: no-repeat;
  background-size: 1400px auto;
  background-position: 35vw 40%;

  overflow: hidden;

  @include media('>desktop') {
    padding: 13rem 0 14rem;
  }

  @include media('>phoneLandscape', '<=desktop') {
    background-position: center bottom;
  }

  @include media('<phoneLandscape') {
    background-position: center 80vh;
  }

  // This is workaround for https://github.com/timhagn/gatsby-background-image/issues/71
  // we need to manually assign responsive styles to pesudo-elements because this plugin doesn't support media queries out-of-the-box
  // and we need !important as a workaround to a bug inside this plugin
  &::before,
  &:after {
    @include media('>phoneLandscape', '<=desktop') {
      background-position: center bottom !important;
    }

    @include media('<phoneLandscape') {
      background-position: center 80vh !important;
    }
  }

  @include media('<=desktop') {
    display: block;
    min-height: unset;
    padding-bottom: 3rem;
  }
}

.header,
.content {
  flex: 1;
}

.content {
  min-width: 600px;
  z-index: 0;

  @include media('<=desktop') {
    max-width: 100%;
    min-width: unset;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @include media('<=phoneLandscape') {
    display: block;
  }
}
.header {
  max-width: 60rem;

  @include media('<=desktop') {
    text-align: center;
    max-width: 65rem;
  }

  @include media('<=phoneLandscape') {
    padding: 0 3rem;
  }
}

.title {
  @include media('<=phone') {
    font-size: 4rem;
  }
}

.description {
  font-size: 3rem;
  margin: 3rem 0 5rem 0;
}
