.root {
  padding-top: rem(38px);
  padding-bottom: rem(48px);

  @include media('<=tabletWide') {
    padding-top: rem(5px);

    flex-direction: column-reverse;
    align-items: center;
  }
  .container {
    display: flex;
    column-gap: rem(22px);

    @include media('<=tabletWide') {
      text-align: center;
      flex-direction: column-reverse;
      align-items: center;
    }

    .descriptionSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: rem(16px);

      max-width: rem(608px);

      .title {
        @include inter($size: 48px, $weight: 700, $lh: 114%);
        letter-spacing: -0.01em;

        @include media('<=tabletWide') {
          font-size: rem(32px);
        }
      }

      .description {
        @include inter($size: 18px, $weight: 400, $lh: 160%);

        @include media('<=tabletWide') {
          font-size: rem(16px);
        }
      }
    }
    .imageSection {
      width: 100%;
      max-width: rem(608px);

      @include media('>tabletWide') {
        min-width: rem(500px);
      }
      @include media('<=tabletWide') {
        max-width: rem(600px);
      }
      .integrationsCards {
        width: 100%;
        @include media('<=tabletWide') {
          display: none;
        }
      }

      .integrationsCardsMobile {
        width: 100%;
        @include media('>tabletWide') {
          display: none;
        }
      }
    }
  }
}
