.clients {
  padding: 6rem 0;
  background-color: var(--off-white);

  .header {
    max-width: 60ch;
    margin-bottom: 5rem;
  }

  .title {
    font-weight: v('normal');
    opacity: v('faded');
  }

  .header, 
  .content {
    flex: 1;
  }
}

.logo {
  height: 48px;
  max-width: 110px;
  width: 100%;
  object-fit: contain;

  @media screen and (max-width: 640px) {
    height: 58px;
    max-width: 180px;
  }
}

.pagination {
  bottom: -5px !important;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    &:first-child {
      justify-content: flex-start;
    }
  }
}
