.clients {
  padding: 6rem 0;
  background-color: var(--off-white);

  .header {
    margin-bottom: 5rem;
    text-align: center;
  }

  .title {
    font-weight: v('normal');
    opacity: v('faded');
  }

  .header,
  .content {
    flex: 1;
  }

  .content {
    display: grid;
    gap: 5rem;

    grid-template-columns: repeat(7, 1fr);

    @include media('<=tabletWide') {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media('<=tablet') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('<=phoneLandscape') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=phone') {
      gap: 3rem;
    }
  }
}

.logo {
  height: 48px;
  max-width: 110px;
  width: 100%;
  object-fit: contain;

  @include media('<=phone') {
    height: 38px;
    max-width: 90px;
  }
}

.pagination {
  bottom: -5px !important;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
