.clients {
  padding: 6rem 0;
  background-color: var(--off-white);

  .header {
    margin-bottom: 5rem;
    text-align: center;
  }

  .title {
    font-weight: v('normal');
    opacity: v('faded');
  }

  .header,
  .content {
    flex: 1;
  }

  .content {
    display: grid;
    gap: 5rem;

    grid-template-columns: repeat(7, 1fr);

    @include media('<=desktop') {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media('<=tablet') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('<=phoneLandscape') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=phone') {
      gap: 3rem;
    }
  }
}

.logo {
  @include media('<=phone') {
    height: 38px;
    max-width: 90px;
  }
}
.EbaySVG {
  width: 92.82px;
  height: 35.42px;
}
.TargetSVG {
  width: 37.23px;
  height: 47.42px;
}
.UsBankSVG {
  width: 110px;
  height: 28.81px;
}
.BookingSVG {
  width: 111px;
  height: 18.87px;
}
.AmeritradeSVG {
  width: 110px;
  height: 21.7px;
}
.HsnSVG {
  width: 48px;
  height: 48px;
}
.AgodaSVG {
  width: 81.49px;
  height: 41.84px;
}
.CoinBaseSVG {
  width: 98.37px;
  height: 22.54px;
}
.RealtorSVG {
  width: 108.25px;
  height: 19.67px;
}
.HomeCreditSVG {
  width: 69.14px;
  height: 46.09px;
}
.RockstarSVG {
  width: 46.64px;
  height: 42.93px;
}
.CheckoutSVG {
  width: 110px;
  height: 28.81px;
}
.WesterUnionSVG {
  width: 90.3px;
  height: 27.09px;
}
.YahooSVG {
  width: 90.3px;
  height: 25.04px;
}

.pagination {
  bottom: -5px !important;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
