.infoSection {
  padding-top: 3rem;
  padding-bottom: 7rem;

  @include media('<=phoneLandscape') {
    padding-bottom: 3rem;
  }
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include media('<=phoneLandscape') {
    flex-direction: column;
  }
}

.icon {
  width: 3rem;
  height: auto;

  margin-right: 3rem;
  fill: v('brand-fire');
}

.block {
  flex-basis: 50%;

  @include media('<=phoneLandscape') {
    flex-basis: 100%;
  }

  .title {
    font-weight: bold;

    margin-bottom: 2rem;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .link {
    border-bottom: 1px solid v('brand-fire');
    color: v('brand-fire');
  }

  &.feature {
    .list {
      .item {
        font-size: 1.75rem;

        + .item {
          margin-top: 2rem;
        }
      }
    }
  }

  &.faq {
    @include media('<=phoneLandscape') {
      margin-top: 7rem;
    }
  }
}

.bulletList {
  padding-left: 20px;
  list-style-type: disc;
}
