.root {
  padding: rem(30px) 0 0 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(170px);
  padding-bottom: rem(60px);

  background-image: url('../../img/ellipseBG.svg');
  background-position: calc(50% - 450px) 100%;
  background-repeat: no-repeat;

  @include media('<=desktop') {
    column-gap: rem(75px);
  }

  @include media('<=tabletWide') {
    column-gap: rem(30px);
  }

  @include media('<=tablet') {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../../img/ellipseMobileBG.svg');
    background-position: top left;
  }

  @include media('<=phone') {
    background-position: center left;
    background-size: contain;
  }
}

.clients {
  padding-top: rem(85px);
  max-width: rem(400px);

  @include media('<=tablet') {
    padding-top: rem(88px);
  }

  .title {
    text-align: center;
    font-family: v(ff-sans);
    font-size: rem(14px);
    line-height: 140%;
    color: adjust-color(c('brand-water'), $alpha: -0.5);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 500;

    padding-bottom: rem(60px);
  }

  .content {
    display: grid;
    row-gap: rem(60px);
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    height: rem(48px);
    max-width: rem(110px);
    width: 100%;
    object-fit: contain;
  }
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
