.root {
  display: flex;
  align-items: center;
}

.photo {
  width: 6rem;
  height: 6rem;
}

.textContainer {
  height: 70%;
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-family: v('ff-sans');

  font-size: 1.75rem;
}

.name {
  font-weight: v('semi');
}

.role {
  color: v('brand-water');
  opacity: v('muted');
}
