.root {
  display: flex;
  align-items: center;
}

.photo {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.textContainer {
  height: 70%;
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include inter($size: 14px);
}

.name {
  font-weight: v('semi');
}

.role {
  color: v('brand-water');
  opacity: v('muted');
}
