.list {
  max-height: 0;
  overflow: hidden;

  @include transition((max-height));
  @include transition-duration(0.5s);

  padding-left: 3rem;

  * {
    margin-top: 3rem;
  }

  &.open {
    @include transition((max-height));
    @include transition-duration(0.5s);

    max-height: 50rem;
  }
}

.link {
  @include transition((opacity));
  opacity: 1;

  cursor: pointer;

  &:hover {
    opacity: v('faded');
  }
}
