.list {
  padding: 0 !important;
  max-height: 0;
  overflow: hidden;
  @include transition((max-height));
  @include transition-duration(0.5s);

  &.open {
    @include transition((max-height));
    @include transition-duration(0.5s);

    max-height: 500rem;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  @include transition((opacity));
  opacity: 1;

  cursor: pointer;

  &:hover {
    opacity: v('faded');
  }
}

.icon {
  @include transition((transform));
  @include transition-duration(0.2s);

  margin-left: 0.5rem;
}

.iconIsOpen {
  @include transition((transform));
  @include transition-duration(0.2s);

  transform: rotate(180deg);
}
