.nav {
  position: sticky;
  background-color: v('off-white');
  left: 0;
  width: 100%;
  padding: 3rem 0;
  height: calc(100vh - (56px + 2rem));
  z-index: v(z-mobile-menu);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  @include transition((opacity, transform));
  transform: translateX(0);
  pointer-events: auto;

  > * + * {
    margin-top: 3rem;
  }

  .container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    > * + * {
      margin-top: 3rem;
    }
  }

  .links {
    &.top {
      display: flex;
      justify-content: space-between;
      flex: none;

      > * {
        flex: 1;

        + * {
          margin-left: 1rem;
        }
      }
    }

    &.main {
      justify-self: flex-start;
      flex: 1;

      .container {
        padding: 0;
      }

      .icon {
        width: 1.5rem;
        height: auto;
        fill: v('brand-water');
      }

      .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 0;
      }

      .link {
        @include transition((opacity));
        opacity: 1;

        cursor: pointer;

        &:hover {
          opacity: v('faded');
        }
      }
    }
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex: none;

    > span {
      height: 28px;
      display: block;
      margin-bottom: 3rem;
    }

    .social {
      .links {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        > * + * {
          margin-left: 1rem;
        }

        .link {
          a {
            display: inline-block;
          }

          &:hover {
            svg {
              opacity: 1;
            }
          }
        }

        svg {
          width: 4rem;
          height: 4rem;
          fill: v('brand-water');
          opacity: v('muted');
          @include transition((opacity));
        }
      }
    }
  }
}
