.banner {
  border-radius: rem(16px);
  background-color: v('brand-water');
  color: v('white');
  text-align: center;

  padding: rem(40px);

  background-image: url('../../img/EllipseSVG.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @include media('<=phoneLandscape') {
    padding: rem(40px) rem(16px) rem(20px) rem(16px);

    background-image: url('../../img/EllipseMobileSVG.svg');
  }

  .title {
    font-size: rem(32px);
    line-height: 130%;
    letter-spacing: -0.01em;

    padding-bottom: rem(8px);

    @include media('<=phoneLandscape') {
      font-size: rem(24px);
    }
  }

  .description {
    @include inter($size: 16px, $weight: 500, $lh: 150%);

    padding-bottom: rem(40px);
  }

  .button {
    @include media('<=phoneLandscape') {
      width: 100%;
    }
  }
}
