.heroSection {
  padding: rem(44px) 0 rem(64px) 0;
  h1,
  p,
  a {
    @include inter();
  }
}

.ctaSection {
  margin: rem(40px) 0;

  h1,
  p,
  a {
    @include inter();
  }

  @include media('<=phoneLandscape') {
    margin: rem(20px) 0;
  }
}
