.flexibleApi {
  background-color: #161e58;
  background-image: url('../../img/flexible-api-background.svg');
  background-repeat: no-repeat;
  background-position: -10% 240%;
  color: v('white');
  overflow-x: hidden;
  padding-top: 7rem;

  @include media("<=phoneLandscape") {
    padding-top: 3.5rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * + * {
    @include media(">desktop") {
      margin-right: 7rem;
    }
  }

  @include media("<=desktop") {
    display: block;
  }
}

.title {
  font-size: 5rem;
  font-weight: v(bold);
  margin-bottom: 3rem;

  @include media("<=phone") {
    font-size: 3rem;
  }
}

.header, 
.content {
  flex: 1;
}

.content {
  order: -1;
  max-width: 50%;

  @include media("<=desktop") {
    margin-top: 4rem;
    max-width: 100%;
  }

  > * + * {
    margin-top: 3rem;
  }
}

.tools {
  display: flex;
  align-items: flex-start;
  color: #ffffff;

  > * + * {
    margin-top: 2rem;

    @include media(">phoneLandscape") {
      margin-top: 0;
      margin-left: 2rem;
    }
  }

  @include media("<=phoneLandscape") {
    flex-wrap: wrap;
  }
}

.icon {
  width: 7rem;
  height: 7rem;
  fill: v('white');
}