.flexibleApi {
  padding: rem(96px) 0;

  @include media('<=phoneLandscape') {
    padding: rem(96px) 0;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: rem(32px);

  @include media('<=desktop') {
    display: block;
  }
}

.title {
  font-size: rem(32px);
  font-weight: v(bold);
  margin-bottom: rem(40px);
}

.header,
.content {
  flex: 1;
}

.content {
  order: -1;
  max-width: 50%;

  @include media('<=desktop') {
    margin-top: rem(32px);
    max-width: 100%;
  }
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(32px);

  @include media('<=phoneLandscape') {
    grid-template-columns: 1fr;
  }
}

.icon {
  width: 7rem;
  height: 7rem;
  fill: v('white');
}

.visitorId {
  top: 32px;
  left: 385px;
}
.visits {
  top: 53px;
  left: 350px;
}
.incognito {
  top: 95px;
  left: 260px;
}
.ip {
  bottom: 117px;
  left: 293px;
}
.ipLocation {
  bottom: 95px;
  left: 293px;
}
.browserDetails {
  bottom: 75px;
  left: 320px;
}
