.banner {
  padding: rem(96px) rem(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include media('<=phoneLandscape') {
    align-items: flex-start;
    text-align: left;
    padding: rem(64px) rem(20px) rem(80px);
  }
  .title {
    padding-bottom: rem(8px);

    @include inter($size: 28px, $weight: 600, $lh: 130%);

    @include media('<=phoneLandscape') {
      font-size: rem(24px);
      padding-right: rem(15px);
    }
  }

  .description {
    @include inter($size: 16px, $weight: 400, $lh: 160%, $color: v('dark-gray'));
    letter-spacing: 0.01em;
    padding-bottom: rem(40px);
    max-width: rem(612px);

    @include media('<=phoneLandscape') {
      line-height: rem(24px);

      font-size: rem(14px);
    }
  }
}
.blue {
  background: #f2f2f7;

  .description {
    max-width: unset;
  }
}
