.section--blog-articles {
  background-repeat: no-repeat;
  background-size: auto calc(100% - 24rem);
  background-image: url('../img/faq-bg.png');
  background-position: center center;

  @media screen and (max-width: 768px) {
    background-size: 800px auto;
  }

  .section__title {
    font-size: 4rem;
  }

  .section-header {
    margin-bottom: 6rem;

    @media screen and (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }

  .section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3rem;
  }
}

/*====================================
=            BLOG ARTICLE            =
====================================*/

.article--blog {
  border-radius: 1rem;
  background-color: v('white');
  box-shadow: 0 3rem 5rem 0 adjust-color(c('brand-water'), $alpha: -0.9);
  overflow: hidden;

  .article__image-container {
    @include ar(290, 170, true);
  }

  .article__header {
    padding: 3rem;
  }

  .article__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
    min-height: calc((2.5rem * 1.4) * 2);
  }

  .article__date {
    opacity: v('faded');
    font-size: 1.75rem;
  }

  .article__tags {
    margin-top: 2rem;
  }

  .article__tag {
    display: inline-flex;
    background-color: v('off-white');
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: v('semi');
    color: v('brand-water');
    opacity: v('faded');
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    transform: translateY(0.5rem);

    + .article__tag {
      margin: 0 0.5rem 0.5rem 0;
    }
  }
}

/*=====  End of BLOG ARTICLE  ======*/
