.container {
  position: relative;

  @include media("<=phoneLandscape") {
    min-height: 75rem;
  }
}


.demo {
  display: flex;
  align-items: stretch;
  border-radius: 1rem;
  overflow: hidden;
  background-color: v('white');
  font-size: 1.75rem;
  box-shadow: 0 20px 50px 0 adjust-color(c('brand-water'), $alpha: -0.9);
  max-width: 660px;
  width: 100%;
  transform: translateY(30px);
  opacity: 0;

  svg {
    opacity: 0;
    outline: none;
    width: 2rem;
    height: 2rem;
  }

  &.loaded {
    transition: opacity .3s ease-out, transform .3s ease-out;
    opacity: 1;
    transform: translateY(0px);

    svg {
      opacity: 1;
    }
  }

  .header {
    display: flex;
    font-family: v(ff-mono);
    font-weight: v(bold);
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    background-color: v('brand-water');
    color: v('white');

    svg {
      fill: v('white');
      margin-left: 1rem;
    }
  }

  .history,
  .currentVisit {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .content {
    padding: 2rem 2rem;
    flex: 1;
  }

  .history {
    flex: 1;

    .header {
      background-color: adjust-color(c('brand-water'), $saturation: -25%, $lightness: 25%);

      @include media("<=phoneLandscape") {
        padding-top: 2rem;
        background-color: v('off-white');
        color: v('brand-water');

        svg {
          fill: v('brand-water');
        }
      }
    }

    .content {
      border-right: 1px solid v('off-white');
      --bgcolor: var(--white);
      background-color: v('bgcolor');
      padding: 2rem;
      @include scrollbox(300px, 20px, 0);
      position: relative;

      @include media("<=phoneLandscape") {
        // padding-top: 0;
        @include scrollbox(150px, 20px, 0);
      }

      &:after {
        content: '';
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        background: linear-gradient(to top, v('bgcolor') 2.5rem, adjust-color(c('white'), $alpha: -1));
      }

      .visits {
        .visit {
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 2rem;
          height: 4rem;
          cursor: pointer;
          @include transition((background-color));
          text-overflow: ellipsis;
          max-width: 186px;
          overflow: hidden;
          display: block;
          line-height: 32px;
          white-space: nowrap;

          &:before {
            content: none;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 0.5rem;
            background: v('brand-fire');
            margin-right: 1rem;
          }

          &:hover {
            background-color: v('off-white');
          }

          +.visit {
            margin-top: 0.5rem;
          }

          svg {
            display: none;
            margin-left: 1rem;
          }

          &.incognito {
            svg {
              display: inline-block;
            }
          }

          &.selected {
            background-color: v('off-white');
          }

          &.now {
            display: flex;
            &:before {
              content: '';
            }
          }
        }
      }
    }
  }

  .currentVisit {
    @include media("<=phoneLandscape") {
      order: -1;
    }

    .content {
      font-weight: v(bold);
      font-family: v(ff-mono);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'id id''bot location''ip location''incognito location''browser location';
      column-gap: 2rem;
      row-gap: 3rem;

      @include media("<=phoneLandscape") {
        grid-template-columns: 1fr;
        grid-template-areas: 'id''bot''ip''incognito''browser''location';
      }

      .info:not(.location) {
        .value {
          font-weight: v('normal');
          font-family: v(ff-sans);
          opacity: v('faded');
        }
      }

      svg {
        fill: v('brand-fire');
        vertical-align: -webkit-baseline-middle;

        @include media("<=phone") {
          order: 2;
        }
      }

      .visitId,
      .label,
      .location,
      .info {
        &:not(.location) {
          &:not(.browser) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            height: 3rem;

            > * + * {
              margin-left: 1rem;
            }
          }
        }
      }

      .value {
        @include media("<=phone") {
          order: 3;
        }
      }

      .visitId {
        display: flex;
        align-items: center;
        font-size: 2.5rem;
        grid-area: id;

        .label {
          height: 4rem !important;
        }

        @include media("<=phone") {
          font-size: 2rem;
        }

        .value {
          font-family: v(ff-mono);
          color: v('brand-fire');
          font-weight: v('bold');
          opacity: 1;

          @include media("<=phone") {
            flex-basis: 100%;
            margin-left: 0 !important;
          }
        }
      }

      .bot {
        grid-area: bot;
      }
  
      .ip {
        grid-area: ip;
      }

      .incognito {
        grid-area: incognito;
      }

      .browser {
        grid-area: browser;

        .value {
          margin-left: 0;
        }
      }

      .location {
        grid-area: location;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .value {
          @include ar(1, 1, true);
          background-color: v('off-white');
          border-radius: 1.25rem;
          overflow: hidden;
          position: relative;
          cursor: pointer;

          @include media("<=desktop") {
            margin-top: 1rem;
          }

          &::after {
            position: absolute;
            content: '';
            background: #f04405;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
            @include media(">desktop") {
              animation: pulse 2s infinite;
            }
          }

          &.unvailable {
            padding-top: 100%;

            > img {
              display: none;
            }

            &::before {
              content: 'Not available';
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%) scale(1);
              text-align: center;
              padding-top: 0;
              opacity: 0.5;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  &.incognito {
    background-color: v('brand-water');

    .header {
      border-bottom: 1px solid adjust-color(c('white'), $alpha: -0.9);
    }

    .history {
      .header {
        border-right: 1px solid adjust-color(c('white'), $alpha: -0.9);
        background-color: var(--transparent);

        @include media("<=phoneLandscape") {
          background-color: v('transparent');
          color: v('white');

          svg {
            fill: v('off-white');
          }
        }
      }

      .content {
        border-right: 1px solid adjust-color(c('white'), $alpha: -0.9);
        --bgcolor: var(--brand-water);
        background-color: v('transparent');

        &:after {
          background: linear-gradient(to top, v('bgcolor') 2.5rem, adjust-color(c('brand-water'), $alpha: -1));
        }

        .visits {
          .visit {
            color: v('off-white');

            &:before {
              background: v('brand-fire');
            }

            &:hover {
              background-color: adjust-color(c('white'), $alpha: -0.9);
            }

            svg {
              fill: v('off-white');
            }

            &.selected {
              background-color: adjust-color(c('white'), $alpha: -0.9);
            }
          }
        }
      }
    }

    .currentVisit {
      color: v('white');

      .location {
        .user-location {
          background-color: adjust-color(c('white'), $alpha: -0.9);
        }
      }
    }
  }
}




@keyframes pulse {
  0% {
      transform: translate(-50%, -50%) scale(0.95);
      box-shadow: 0 0 0 0 rgba(240, 68, 5, 0.7);
  }

  70% {
      transform: translate(-50%, -50%) scale(1);
      box-shadow: 0 0 0 10px rgba(240, 68, 5, 0);
  }

  100% {
      transform: translate(-50%, -50%) scale(0.95);
      box-shadow: 0 0 0 0 rgba(240, 68, 5, 0);
  }
}

.swiper-container.live-demo-mobile-container {
  overflow: visible;
}

.loader {
  background-image: url(../../img/loader.svg);
  background-position: center center;
  background-size: 10rem auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  @include media(">phoneLandscape") {
    height: 75rem;
  }
}

.desktopOnly {
  @include media("<=phoneLandscape") {
    display: none;
  }
}

.mobileOnly {
  @include media(">phoneLandscape") {
    display: none;
  }
}
