:root {
  // Generic Colors
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  // Generic Colors
  @each $name, $color in $brand-colors {
    --#{$name}: #{$color};
  }

  // Transitions
  --t-normal: 250ms;

  // 8 point grid
  --grid-base: 8px;

  // Font Weights
  --light: 200;
  --normal: 400;
  --semi: 600;
  --bold: 700;

  // Opacities
  --faded: 0.72;
  --extra-faded: 0.55;
  --muted: 0.48;

  // Z-Indexes
  --z-header: 100;
  --z-mobile-menu: 300;
  --z-modal: 500;
  --z-sections: 1;

  // Font Families
  --ff-sans: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --ff-mono: 'Fira Mono', monospace;
}
