.root {
  overflow: hidden;

  padding: 0 0 rem(94px) 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media('<=phoneLandscape') {
    display: flex;
    flex-direction: column;
  }
}

.descriptionSection {
  padding-top: rem(140px);

  @include media('<=desktop') {
    padding-top: rem(48px);
  }

  .title {
    @include inter($size: 14px, $color: adjust-color(c('brand-water'), $alpha: -0.5), $lh: 150%, $weight: 500);
    letter-spacing: 0.03rem;

    margin-bottom: rem(16px);
  }

  .subtitle {
    font-size: rem(48px);
    font-weight: v('bold');

    margin-bottom: rem(16px);

    @include media('<=desktop') {
      font-size: rem(38px);
    }

    @include media('<=tablet') {
      font-size: rem(28px);
    }
  }

  .description {
    @include inter($size: 24px, $color: adjust-color(c('brand-water'), $alpha: -0.3), $weight: v('normal'));

    margin-bottom: rem(48px);

    @include media('<=desktop') {
      font-size: rem(19px);
    }

    @include media('<=tablet') {
      font-size: rem(14px);
    }
  }

  @include media('<=phoneLandscape') {
    padding-bottom: 3rem;
  }
}

.imageSection {
  display: flex;
  align-items: center;
  padding-top: rem(58px);

  @include media('<=phoneLandscape') {
    display: none;
  }
}

.imageSectionMobile {
  @include media('>phoneLandscape') {
    display: none;
  }
}

.imageSection,
.imageSectionMobile {
  svg {
    width: 100%;
    height: 100%;
  }
}
