@import '../BlockQuote/BlockQuote.scss';
$smallMargin: 2rem;
$bigMargin: 6rem;

.root {
  span,
  ol,
  blockquote,
  table,
  iframe {
    margin-top: $bigMargin;
    margin-bottom: $bigMargin;
  }
  div[class*='WidgetPreviewContainer'] {
    img {
      margin-top: $bigMargin;
      margin-bottom: $bigMargin;
    }
  }
  ul,
  p {
    margin-bottom: $smallMargin;
  }

  div + p,
  ul + p,
  p + ul {
    margin-top: $bigMargin;
  }

  ul li:first-child {
    margin-top: $smallMargin;
  }

  @for $index from 1 through 6 {
    h#{$index} {
      font-family: v('ff-mono');
      font-weight: v('bold');

      margin-bottom: $smallMargin;
      margin-top: $smallMargin;
    }
    :is(p, ul, div) + h#{$index} {
      margin-top: $bigMargin;
    }
  }

  h1 {
    font-size: rem(44px);
    line-height: 120%;
    letter-spacing: -0.01em;

    @include media('<=phoneLandscape') {
      font-size: rem(26px);
    }
  }
  h2 {
    font-size: rem(32px);
    line-height: 130%;
    letter-spacing: -0.01em;

    @include media('<=phoneLandscape') {
      font-size: rem(24px);
    }
  }

  h3 {
    @include sans($size: 24px, $weight: 600, $lh: 150%);
    letter-spacing: 0.01em;

    @include media('<=phoneLandscape') {
      font-size: rem(18px);
    }
  }

  @for $index from 4 through 6 {
    h#{$index} {
      @include sans($size: 20px, $weight: 600, $lh: 150%);
    }
  }

  p {
    @include sans($size: 20px, $weight: 400, $lh: 150%);
    overflow-wrap: break-word;

    @include media('<=phoneLandscape') {
      font-size: rem(18px);
    }

    img {
      border-radius: rem(16px);
      object-fit: contain;
    }
  }

  ul,
  ol {
    li {
      margin: 0;
      padding: 0;

      font-size: rem(20px);

      @include media('<=phoneLandscape') {
        font-size: rem(18px);
      }

      + li {
        margin-top: 1rem;
      }
    }
  }

  ul {
    padding-left: 4rem;
    list-style-type: disc; /* Safari doesn't support the marker content attribute and list-style-type: <String>  */

    li {
      &::marker {
        content: '>\00a0\00a0'; /* added non-breaking spaces to prevent collapsing whitespace in Firefox due to https://bugzil.la/1696712  */
        font-size: 2.5rem;
        font-weight: v('semi');
        color: v('brand-fire');
      }
    }
  }

  ol {
    list-style-type: decimal;

    li {
      margin-left: 3rem;

      &::marker {
        font-weight: v('semi');
        color: v('brand-fire');
        margin-right: 1rem;
      }
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid v('brand-fire');
    color: v('brand-fire');
  }

  blockquote {
    @include blockQuoteContainer;

    p {
      @include blockQuoteText;
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;

    @include media('<=phone') {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  table,
  th,
  td {
    border: 2px solid rgb(238, 238, 238);
    background-color: var(--white);
    border-collapse: collapse;
  }

  th,
  td {
    padding: 1rem;
    color: rgb(70, 70, 70);
  }

  th {
    font-weight: v(normal);
    background: rgb(250, 250, 250);
  }

  details > summary {
    outline: none;
    cursor: pointer;
    font-size: rem(20px);
    font-weight: v('bold');
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    margin-left: rem(14px);
    content: url('../../img/plus-simbol.svg');
    position: absolute;
    right: 0;
  }

  details[open] summary:after {
    margin-left: rem(14px);
    content: url('../../img/minus-simbol.svg');
    position: absolute;
    right: 0;
  }
  summary {
    position: relative;
  }

  details {
    background: #f9f9fb;
    border-radius: 16px;

    padding: rem(16px);
    margin-bottom: rem(48px);
  }

  details[open] {
    p {
      margin-top: rem(24px);
      margin-bottom: 0;
    }
  }

  pre[class*='language-'] {
    padding: rem(16px);
    border-radius: rem(8px);
    margin: rem(48px) 0;
    box-shadow: rgba(0, 0, 0, 0.55) 0 8px 16px;

    &::-webkit-scrollbar {
      width: rem(4px);
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.05);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #434875;
    }
    &:before {
      padding: rem(16px);
      border-radius: rem(8px);
      margin: rem(48px) 0;
      box-shadow: rgba(0, 0, 0, 0.55) 0 8px 16px;

      &::-webkit-scrollbar {
        width: rem(4px);
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #434875;
      }
    }
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: #282a36;
  }

  @for $index from 1 through 6 {
    h#{$index} {
      @include scrollSection;
    }
  }
}
