@import '../BlockQuote/BlockQuote.scss';

.root {
  p,
  ul,
  ol,
  blockquote,
  table,
  iframe,
  deckgo-highlight-code {
    margin-bottom: 6rem;
  }

  deckgo-highlight-code {
    --deckgo-highlight-code-carbon-toolbar-display: none;
    --deckgo-highlight-code-carbon-header-padding: 8px;

    font-weight: 500;
    --deckgo-highlight-code-color: #abb2bf;
    --deckgo-highlight-code-background: #282c34;
    --deckgo-highlight-code-token-punctuation: #abb2bf;
    --deckgo-highlight-code-token-atrule: #c678dd;
    --deckgo-highlight-code-token-operator: #56b6c2;
    --deckgo-highlight-code-token-regex: #f1fa8c;
    --deckgo-highlight-code-token-selector: #98c379;
    --deckgo-highlight-code-token-function: #61afef;
    --deckgo-highlight-code-font-family: var(--ff-mono);
    --deckgo-highlight-code-font-size: 2rem;
    --deckgo-highlight-code-line-numbers: #4f5665;

    @include media('<=phone') {
      --deckgo-highlight-code-font-size: 1.5rem;
    }
  }

  @for $index from 1 through 6 {
    h#{$index} {
      font-family: v('ff-mono');
      font-weight: v('bold');

      margin-bottom: 2rem;
    }
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.75rem;
  }

  h3 {
    font-size: 3rem;
  }

  @for $index from 4 through 6 {
    h#{$index} {
      font-size: 2.75rem;
    }
  }

  p {
    font-size: 2.6rem;
  }

  ul,
  ol {
    li {
      margin: 0;
      padding: 0;

      font-size: 2.6rem;

      + li {
        margin-top: 1rem;
      }
    }
  }

  ul {
    padding-left: 4rem;
    list-style-type: disc; /* Safari doesn't support the marker content attribute and list-style-type: <String>  */

    li {
      white-space: pre-wrap; /* prevent collapsing whitespace in Firefox  */

      &::marker {
        content: '>  ';
        font-size: 2.5rem;
        font-weight: v('semi');
        color: v('brand-fire');
      }
    }
  }

  ol {
    counter-reset: number;
    @include gap(2rem);

    li {
      counter-increment: number;
      display: flex;

      &:before {
        content: counter(number) '.';
        font-weight: v('semi');
        color: v('brand-fire');
        margin-right: 1rem;
      }
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid v('brand-fire');
    color: v('brand-fire');
  }

  blockquote {
    @include blockQuoteContainer;

    p {
      @include blockQuoteText;
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;

    @include media('<=phone') {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  table,
  th,
  td {
    border: 2px solid rgb(238, 238, 238);
    background-color: var(--white);
    border-collapse: collapse;
  }

  th,
  td {
    padding: 1rem;
    color: rgb(70, 70, 70);
  }

  th {
    font-weight: v(normal);
    background: rgb(250, 250, 250);
  }
}
