.container {
  background-color: adjust-color(c('brand-fire'));
  color: v('white');

  padding-top: rem(11px);
  padding-bottom: rem(12px);

  @include media('<=phone') {
    padding: rem(11px) rem(5px) rem(12px);
  }

  @include transition((background-color));

  &:hover {
    background-color: adjust-color(c('brand-fire'), $lightness: -20%);
  }
}

.headerBar {
  @include media('<tablet') {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;

  column-gap: rem(12px);
}

.text,
.arrow {
  font-size: rem(14px);
  letter-spacing: 0.04em;
  font-family: v(ff-sans);
  line-height: 150%;
  font-weight: 600;

  justify-content: flex-start;

  @include media('<tablet') {
    font-size: rem(12px);
  }

  @include media('<phone') {
    font-size: rem(10px);
  }
}
.arrow {
  padding-top: 1px;
}
