.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(32px);
  --contentWidth: 1270px;

  padding-bottom: rem(96px);

  @include media('<=desktop') {
    display: flex;
    flex-direction: column;
    row-gap: rem(48px);

    padding-bottom: rem(64px);
  }
}

.buttonSection {
  .title {
    font-size: rem(32px);
    font-weight: v('bold');
    letter-spacing: -0.01em;
    line-height: 130%;

    padding-right: rem(180px);
    margin-bottom: rem(48px);

    @include media('<=desktop') {
      padding-right: 0;
    }
    @include media('<=phoneLandscape') {
      font-size: rem(26px);
    }
  }
}

.cardsSection {
  display: flex;
  flex-direction: column;

  row-gap: rem(40px);

  .card {
    display: flex;

    .iconContainer {
      padding-right: rem(24px);

      .icon {
        width: rem(80px);
        height: rem(80px);
      }
    }

    .cardTitle {
      @include sans($size: 24px, $weight: 600, $lh: 150%);
      letter-spacing: 0.01em;

      margin-bottom: rem(4px);

      @include media('<=phoneLandscape') {
        font-size: rem(18px);
      }
    }

    .cardDescription {
      @include sans($size: 16px, $weight: 400, $lh: 150%);

      @include media('<=phoneLandscape') {
        font-size: rem(14px);
      }
    }
  }
}
