.root {
  background-color: var(--off-white);

  padding: rem(64px) 0 rem(80px) 0;

  @include media('<=phoneLandscape') {
    padding: rem(50px) 0 rem(54px) 0;
  }

  .headerContainer {
    text-align: center;

    @include media('<=phoneLandscape') {
      text-align: left;
    }

    .title {
      font-size: rem(32px);
      font-weight: v('bold');
      line-height: 130%;
      letter-spacing: -0.01em;

      margin-bottom: rem(16px);

      @include media('<=phoneLandscape') {
        font-size: rem(28px);
      }
    }

    .description {
      font-family: v(ff-sans);
      font-size: rem(16px);
      color: adjust-color(c('brand-water'), $alpha: -0.3);
      margin: 0 rem(40px) rem(40px) rem(40px);
      line-height: 150%;

      @include media('<=phoneLandscape') {
        font-size: rem(16px);
        letter-spacing: normal;

        margin: 0 rem(20px) rem(40px) 0;
      }
    }
  }

  .algorithmContainer {
    display: grid;
    grid-template-columns: repeat(2, 290px 1fr) 290px;
    grid-template-rows: 20px 64px 64px 64px 64px 64px 64px 64px;
    gap: 16px 0px;
    grid-template-areas:
      'browser-signals-title . visit-history-title . .'
      'browser-signals browser-rows visit-history . .'
      'browser-signals browser-rows visit-history . .'
      'browser-signals browser-rows . . visitor-id-title'
      'browser-signals browser-rows server . visitor-id'
      'other-signals-title . . . .'
      'other-signals . . . .'
      'other-signals . . . .';
  }
  .browserSignalsTitle {
    grid-area: browser-signals-title;
  }
  .browserSignals {
    grid-area: browser-signals;
  }
  .otherSignalsTitle {
    grid-area: other-signals-title;
  }
  .otherSignals {
    grid-area: other-signals;
  }
  .visitHistoryTitle {
    grid-area: visit-history-title;
  }
  .visitHistory {
    grid-area: visit-history;
  }
  .server {
    grid-area: server;
  }
  .visitorId {
    grid-area: visitor-id;
  }
  .visitorIdTitle {
    grid-area: visitor-id-title;
  }

  .browserRows {
    grid-area: browser-rows;

    .browserRowsSVG {
      margin: rem(32px) rem(7px) 0 rem(7px);
    }
  }

  .browserSignalsTitle,
  .otherSignalsTitle,
  .visitHistoryTitle,
  .visitorIdTitle {
    display: flex;
    align-items: flex-end;

    text-transform: uppercase;
    @include sans($size: 14px, $lh: 150%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
  }
}

.browserSignals,
.otherSignals {
  display: flex;
  flex-direction: column;
  row-gap: rem(16px);
}

.card {
  display: grid;
  grid-template-columns: rem(44px) 1fr;
  column-gap: rem(12px);
  padding: rem(10px);

  border-radius: 16px;
  background: #ededf3;

  .icon {
    width: rem(44px);
    height: rem(44px);
  }

  .cardTitle {
    display: flex;
    align-items: center;

    @include sans($size: 14px, $weight: 500, $lh: 140%);
    text-transform: uppercase;
  }

  &.outline {
    background: none;
    border: 1px solid #c3c3d7;
  }

  &.visitCard {
    background: #fde4db;
  }
}

.visitSection {
  background-color: v('white');
  padding: 16px;
  box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
  border-radius: rem(16px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: rem(12px);

  .visit {
    display: grid;
    grid-template-columns: rem(16px) 1fr;
    column-gap: rem(12px);

    .visitIcon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: rem(20px);
      height: rem(20px);
    }

    .visitTitle {
      display: flex;
      align-items: center;

      @include sans($size: 14px, $weight: 500, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
      text-transform: uppercase;
    }
  }
}

.serverSection {
  background: #0d102b;
  border-radius: rem(16px);

  width: 100%;
  height: 100%;

  .serverTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include sans($size: 14px, $weight: 500, $lh: 140%, $color: v('white'));
    text-transform: uppercase;
  }
}
