$breakpoint: 1218px;

.root {
  background-color: adjust-color(c('off-white'), $lightness: 2%, $saturation: -4%);

  padding: rem(64px) 0 rem(74px) 0;

  @media screen and (max-width: $breakpoint) {
    padding: rem(50px) 0 rem(30px) 0;
  }

  .headerContainer {
    text-align: center;

    @include media('<=phoneLandscape') {
      text-align: left;
    }

    .title {
      font-size: rem(32px);
      font-weight: v('bold');
      line-height: 130%;
      letter-spacing: -0.01em;

      margin-bottom: rem(8px);

      @media screen and (max-width: $breakpoint) {
        font-size: rem(28px);

        margin-bottom: rem(16px);
      }
    }

    .description {
      @include inter($size: 16px, $lh: 150%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
      margin: 0 rem(40px) rem(64px) rem(40px);

      @media screen and (max-width: $breakpoint) {
        letter-spacing: normal;

        margin: 0 rem(20px) rem(40px) 0;
      }
    }
  }

  .algorithmContainer {
    display: grid;
    grid-template-columns: repeat(2, 290px 1fr) 290px;
    grid-template-rows: 20px repeat(4, 80px) 58px repeat(2, 80px);
    grid-template-areas:
      'browser-signals-title . visit-history-title . .'
      'browser-signals browser-rows visit-history . .'
      'browser-signals browser-rows visit-history . .'
      'browser-signals browser-rows visit-history . visitor-id-title'
      'browser-signals browser-rows server visitor-rows visitor-id'
      'other-signals-title other-rows other-rows . .'
      'other-signals other-rows other-rows . .'
      'other-signals other-rows other-rows . .';

    .mobileRows {
      display: none;
    }

    @media screen and (max-width: $breakpoint) {
      padding: 0 rem(20px);

      grid-template-columns: 290px 30px;
      grid-template-rows: 20px repeat(4, 60px) 50px repeat(2, 60px) 50px 70px repeat(3, 60px) 20px 60px;
      grid-template-areas:
        'browser-signals-title .'
        'browser-signals mobile-rows'
        'browser-signals mobile-rows'
        'browser-signals mobile-rows'
        'browser-signals mobile-rows'
        'other-signals-title mobile-rows'
        'other-signals mobile-rows'
        'other-signals mobile-rows'
        'visit-history-title mobile-rows'
        'visit-history mobile-rows'
        'visit-history mobile-rows'
        'server mobile-rows'
        'visitor-mobile-row visitor-mobile-row'
        'visitor-id-title .'
        'visitor-id .';

      justify-content: center;

      .browserRows,
      .otherRows,
      .visitorRow {
        display: none;
      }
      .mobileRows {
        display: block;
      }
    }
  }
  .browserSignalsTitle {
    grid-area: browser-signals-title;
  }
  .browserSignals {
    grid-area: browser-signals;
  }
  .otherSignalsTitle {
    grid-area: other-signals-title;
  }
  .otherSignals {
    grid-area: other-signals;
  }
  .visitHistoryTitle {
    grid-area: visit-history-title;
  }
  .visitHistory {
    grid-area: visit-history;
  }
  .historyRows {
    grid-area: visit-history;

    background-image: url('./img/RowServerSVG.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 112px;

    @media screen and (max-width: $breakpoint) {
      background-image: none;
    }
  }
  .server {
    grid-area: server;
  }
  .visitorId {
    grid-area: visitor-id;
  }
  .visitorIdTitle {
    grid-area: visitor-id-title;
  }

  .visitorMobileRow {
    grid-area: visitor-mobile-row;
    width: 292px;

    .visitorMobileRowSVG {
      background-image: url('./img/VisitorRowMobile.svg');
      background-size: auto 48px;
      background-position: center;
    }
  }

  .browserRows {
    grid-area: browser-rows;
    width: 188px;

    .browserRowsSVG {
      background-image: url('./img/RowsBrowserSVG.svg');
      background-size: 176px;

      margin: rem(40px) rem(7px) 0 rem(7px);
    }
  }

  .otherRows {
    grid-area: other-rows;
    width: 338px;

    .otherRowsSVG {
      background-image: url('./img/RowsOtherSVG.svg');
      background-size: 331px;
      background-position: right top;
    }
  }

  .visitorRow {
    grid-area: visitor-rows;
    width: 172px;

    .visitorRowSVG {
      background-image: url('./img/RowVisitorSVG.svg');
      background-size: 162px;
      background-position: center center;
    }
  }
  .visitorRowSVG,
  .otherRowsSVG,
  .browserRowsSVG,
  .mobileRowsSVG,
  .visitorMobileRowSVG {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
  }

  .browserSignalsTitle,
  .otherSignalsTitle,
  .visitHistoryTitle,
  .visitorIdTitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: rem(8px);

    text-transform: uppercase;
    @include inter($size: 14px, $lh: 140%, $weight: 500, $color: adjust-color(c('brand-water'), $alpha: -0.3));
    letter-spacing: 0.04em;

    @media screen and (max-width: $breakpoint) {
      font-size: rem(12px);
      line-height: 140%;
      margin-bottom: rem(8px);
    }
  }
}

.browserSignals,
.otherSignals,
.visitorId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: rem(16px);

  @media screen and (max-width: $breakpoint) {
    row-gap: rem(8px);
  }
}

.mobileRows {
  grid-area: mobile-rows;

  .mobileRowsSVG {
    background-image: url('./img/MobileRowsSVG.svg');

    background-size: auto 595px;
    background-position: right 0 bottom 24px;
  }
}
.card {
  display: grid;
  grid-template-columns: rem(44px) 1fr;
  column-gap: rem(12px);
  padding: rem(10px);

  border-radius: 16px;
  background: #ededf3;

  @media screen and (max-width: $breakpoint) {
    padding: rem(8px);
  }

  .icon {
    width: rem(44px);
    height: rem(44px);

    @media screen and (max-width: $breakpoint) {
      width: rem(36px);
      height: rem(36px);
    }
  }

  .cardTitle {
    display: flex;
    align-items: center;

    @include inter($size: 14px, $weight: 500, $lh: 140%);
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint) {
      font-size: rem(12px);
    }

    &.visitTitle {
      text-transform: none;
    }
  }

  &.visitCard {
    background: #fde4db;

    &.isVisible {
      &:before {
        content: '';
        position: absolute;
        z-index: -10;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: rem(25px);
        background: #fde4db;
        border: 1px solid #fde4db;
        transform: translate3d(0, 0, 0);
        opacity: 0;
        @include aura(
          $name: 'auraVisit',
          $duration: 1.75s,
          $scaleX: 1.05,
          $scaleY: 1.01,
          $opacity: 0.8,
          $waitTime: 3.8s
        );

        @media screen and (max-width: $breakpoint) {
          @include aura(
            $name: 'auraVisitMobile',
            $duration: 1.75s,
            $scaleX: 1.05,
            $scaleY: 1.06,
            $opacity: 0.8,
            $waitTime: 3.8s
          );
        }
      }
    }
  }
}

.visitSection {
  background-color: v('white');
  padding: 16px;
  box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
  border-radius: rem(16px);
  margin-top: rem(8px);
  min-height: rem(115px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: rem(12px);

  @media screen and (max-width: $breakpoint) {
    margin-top: 0;
    min-height: rem(104px);
  }

  .visit {
    display: grid;
    grid-template-columns: rem(16px) 1fr;
    column-gap: rem(12px);

    .visitIcon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: rem(20px);
      height: rem(20px);
    }

    .visitTitle {
      display: flex;
      align-items: center;

      @include inter($size: 14px, $weight: 500, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
      text-transform: uppercase;

      @media screen and (max-width: $breakpoint) {
        font-size: rem(12px);
      }
    }
  }
}

.serverSection {
  margin-top: rem(8px);
  background: #0d102b;
  border-radius: rem(16px);

  width: 100%;
  height: rem(64px);

  .serverTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include inter($size: 14px, $weight: 500, $lh: 140%, $color: v('white'));
    text-transform: uppercase;
  }

  @media screen and (max-width: $breakpoint) {
    height: rem(52px);

    .serverTitle {
      font-size: rem(12px);
    }
  }
}

.cardSkeleton {
  align-self: center;

  background-color: #dcdce3;
}

.visitSkeleton {
  background-color: adjust-color(c('brand-fire'), $lightness: 20%);
}

.browserSignalsTitle,
.browserSignals,
.otherSignalsTitle,
.otherSignals,
.visitHistoryTitle,
.visitHistory,
.server,
.visitorIdTitle,
.visitorId {
  @include transition((opacity, transform));
  @include transition-duration(0.7s);

  opacity: 0;
  transform: translateY(15px);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.browserRows,
.otherRows,
.historyRows,
.visitorRow,
.visitorMobileRow,
.mobileRows {
  @include transition((opacity));
  @include transition-duration(0.7s);
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.browserSignalsTitle,
.browserSignals {
  transition-delay: 0.25s;
}

.otherSignalsTitle,
.otherSignals {
  transition-delay: 0.35s;
}

.visitHistoryTitle,
.visitHistory {
  transition-delay: 0.5s;
}

.historyRows,
.browserRows,
.otherRows {
  transition-delay: 1.05s;
}

.server {
  transition-delay: 1.55s;
}

.visitorIdTitle,
.visitorId {
  transition-delay: 3.05s;
}

.visitorRow,
.visitorMobileRow {
  transition-delay: 2.8s;
}

.mobileRows {
  transition-delay: 1.55s;
}

.serverSection {
  &.visible {
    &:before {
      content: '';
      position: absolute;
      z-index: -10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: rem(25px);
      background: #0d102b;
      border: 1px solid #0d102b;
      transform: translate3d(0, 0, 0);
      opacity: 0;
      @include aura($name: 'aura', $duration: 1.5s, $scaleX: 1.05, $scaleY: 1.01, $opacity: 0.3, $waitTime: 2.3s);

      @media screen and (max-width: $breakpoint) {
        top: 4px;
        @include aura(
          $name: 'auraMobile',
          $duration: 1.5s,
          $scaleX: 1.05,
          $scaleY: 1.06,
          $opacity: 0.3,
          $waitTime: 2.3s
        );
      }
    }
  }
}
