.root {
  padding: rem(30px) 0 0 0;
}

.container {
  display: flex;
  justify-content: space-between;

  column-gap: rem(32px);
  padding-bottom: rem(96px);

  @include media('<=desktop') {
    padding-bottom: 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .title,
  .titleMobile {
    @include inter($size: 48px, $weight: 700, $lh: 64px);
    letter-spacing: -0.01em;

    padding-bottom: rem(32px);

    @include media('<=phoneLandscape') {
      font-size: rem(32px);
    }
  }
  .title {
    @include media('<=desktop') {
      display: none;
    }
  }
  .titleMobile {
    padding-bottom: rem(16px);

    @include media('>desktop') {
      display: none;
    }
  }
}

.clients {
  z-index: unset;

  .benefits {
    @include inter($size: 16px, $weight: 400, $lh: 24px);
    padding-bottom: rem(36px);

    @include media('<=desktop') {
      padding-bottom: 0;
    }

    li {
      display: flex;

      padding-bottom: rem(16px);

      svg {
        padding-right: rem(15px);
        height: rem(24px);
        flex-shrink: 0;
      }
    }
  }
  .logosSection {
    @include media('<=desktop') {
      padding: rem(24px) rem(16px) 0 rem(16px);
    }
  }
  .logos {
    display: flex;
    column-gap: rem(40px);

    @include media('<=desktop') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
      row-gap: rem(32px);
    }
  }
  .logosTitle {
    padding-bottom: rem(32px);

    @include inter($size: 14px, $weight: 600, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.5));
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: rem(48px);
    border-top: 1px solid #f2f2f7;

    @include media('<=desktop') {
      text-align: center;
      padding-top: rem(40px);
    }
  }
  .logo {
    height: rem(22px);
    width: 100%;
    object-fit: contain;
    max-width: rem(138px);
  }
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include media('<=desktop') {
    padding-bottom: rem(64px);
  }
}
