.root {
  display: flex;
  align-items: center;

  padding-bottom: rem(48px);

  @include media('<=phoneLandscape') {
    padding-bottom: rem(42px);
  }
}

.image {
  flex: auto;
  border-radius: rem(16px); //for gif images

  img {
    border-radius: rem(16px);
  }
}
