.root {
  margin-top: 4rem;

  display: flex;

  @include media('<=tabletWide') {
    flex-direction: column-reverse;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.grid {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  @include media('<=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('<=tabletWide') {
    grid-template-columns: 1fr;
  }
}

.narrow {
  grid-template-columns: repeat(3, 1fr);

  @include media('<=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('<=tabletWide') {
    grid-template-columns: 1fr;
  }
}

.tags {
  min-width: 20rem;
  margin-right: 4rem;

  @include media('<=tabletWide') {
    margin-top: 4rem;
  }
}
