.root {
  margin-top: 4rem;

  display: flex;

  @include media('<=tabletWide') {
    flex-direction: column-reverse;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.alignNameCenter {
  justify-content: center;
}

.name {
  font-size: rem(32px);
}

.grid {
  margin-top: rem(64px);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  @include media('<=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('<=tabletWide') {
    grid-template-columns: 1fr;
  }
}

.threePerRow {
  grid-template-columns: repeat(3, 1fr);

  @include media('<=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media('<=tabletWide') {
    grid-template-columns: 1fr;
  }
}

.tags {
  min-width: 20rem;
  margin-right: 4rem;

  @include media('<=tabletWide') {
    margin-top: 4rem;
  }
  h2 {
    margin-bottom: rem(64px + 5px);
    font-size: rem(32px);
  }
}
