.item {
  display: block;

  @include media('>desktop') {
    max-width: rem(265px);
  }

  .iconContainer {
    margin-bottom: rem(16px);
  }

  .icon {
    width: rem(48px);
    height: rem(48px);
  }

  .title {
    @include inter($size: 24px, $weight: 700, $lh: 120%);
    letter-spacing: -0.01em;

    margin-bottom: rem(8px);
  }

  .description {
    font-size: rem(14px);
    line-height: 150%;
  }
}
