.section {
  padding-top: 2rem;
  padding-bottom: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: v('off-white');

  @include media('<=phoneLandscape') {
    flex-direction: column;

    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .form {
    flex-basis: 50%;

    @include media('<=phoneLandscape') {
      flex-basis: 100%;
    }
  }

  .form {
    .header {
      font-weight: v('normal');

      margin-bottom: 2rem;

      .strong {
        font-weight: v('bold');
      }
    }
  }

  .image {
    object-fit: contain;
    max-height: 30rem;
  }
}

.background {
  background-position: center 50%;
  background-size: 512px auto;
  background-repeat: no-repeat;

  flex-basis: 50%;

  @include media('<=phoneLandscape') {
    display: none;
  }
}
