{{#extend "html/template" bodyclass="pricing"}}
{{#content 'title'}}
<title>{{site.title}}</title>
{{/content}}
{{#content "body"}}
{{> partials/header }}
{{> sections/calculator }}
{{> sections/pricing-models }}
{{> partials/footer }}
{{/content}}
{{/extend}}