.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 10rem;
}

.block {
  width: 100%;
  display: flex;
  margin-bottom: 10rem;
}

.image {
  flex: auto;
  max-width: 50%;
}

.text {
  flex: auto;
  margin-left: 5rem;

  .blockTitle {
    margin-bottom: 3rem;
  }
}
