<section class="section section--hero">
    <header class="section-header">
        <h1 class="section__title">When are you going to click on the button?</h1>
        <p class="section__description">You know you are interested in our products and services but when will you take the next step? <a class="primary" href="#0">Sign Up</a> and get instant updates delivered right to your inbox.</p>
    </header>
    <div class="section__cta">
        <button class="btn btn--primary">Save me</button>
    </div>
</section>