<section class="image-text {{#if imgRight}}image-text--right{{/if}} container">
    <header class="image-text__header">
        <h3 class="image-text__title">All of our plans include 24/7 emailing and our full suite of features</h3>
        <ol class="list list--with-numbers">
            <li class="list__item">First Feature</li>
            <li class="list__item">Second Feature</li>
            <li class="list__item">Third Feature</li>
            <li class="list__item">Forth Feature</li>
        </ol>
        <a href="#0" class="link link--primary">Learn More</a>
    </header>
    <div class="image-text__graphic">
        <img src="https://source.unsplash.com/800x640/weekly" alt="">
    </div>
</section>