<section class="section section--inline-cta">
    <div class="container">
        <header class="section-header">
            <h2 class="section__title">
                You could get started in as little as <u>three days</u>
            </h2>
            <p class="section__subtitle">
                Browser Fingerprinting API Demo <span class="primary">99.5%</span> identification accuracy
            </p>
        </header>
        <div class="section__cta">
            {{#if button}}
            <button class="btn btn--primary">Free Trial</button>
            {{/if}}
            {{#if url}}
            <a href="{{url}}" class="btn btn--primary">Free Trial</a>
            {{/if}}
        </div>
    </div>
</section>