<section class="section section--sign-up">
    <div class="container">
        <header class="section-header">
            <h2 class="section__title">
                <strong>Sign Up</strong> Today!
            </h2>
            {{> sections/_get-started-form description=true}}
        </header>
        <div class="section-content">
            <img src="/img/sufw.png" alt="">
        </div>
    </div>
</section>