.root {
  padding: rem(96px) 0 0 0;

  @include media('<=phoneLandscape') {
    padding: rem(50px) 0 0 0;
  }

  .heroContainer {
    text-align: center;

    @include media('<=phoneLandscape') {
      text-align: left;
    }

    .title {
      font-size: rem(48px);
      font-weight: v('bold');
      line-height: 120%;

      padding-bottom: rem(16px);

      @include media('<=phoneLandscape') {
        font-size: rem(28px);
      }
    }
    .secondaryTitle {
      text-align: center;
      max-width: rem(608px);
      padding-bottom: rem(8px);
      margin: auto;

      font-size: rem(44px);
      line-height: 120%;

      @include media('<=phoneLandscape') {
        font-size: rem(26px);
      }
    }
    .description {
      @include inter($size: 24px, $color: adjust-color(c('brand-water'), $alpha: -0.3));
      margin: 0 rem(40px) rem(40px) rem(40px);
      letter-spacing: -0.1px;

      @include media('<=phoneLandscape') {
        font-size: rem(16px);
        letter-spacing: normal;
      }
    }
    .secondaryDescription {
      text-align: center;
      font-size: rem(18px);
      font-weight: 500;
      color: v('brand-water');

      @include media('<=phoneLandscape') {
        font-size: rem(16px);
      }
    }
    .secondaryButton {
      @include media('<=phoneLandscape') {
        width: 100%;
      }
    }
  }
}
