.root {
  padding: rem(80px) 0 rem(80px) 0;

  @include media('<=phoneLandscape') {
    padding: rem(50px) 0 rem(54px) 0;
  }

  .heroContainer {
    text-align: center;

    @include media('<=phoneLandscape') {
      text-align: left;
    }

    .title {
      font-size: rem(48px);
      font-weight: v('bold');
      line-height: 120%;

      margin-bottom: rem(16px);

      @include media('<=phoneLandscape') {
        font-size: rem(28px);
      }
    }

    .description {
      font-family: v(ff-sans);
      font-size: rem(24px);
      color: adjust-color(c('brand-water'), $alpha: -0.3);
      margin: 0 rem(40px) rem(40px) rem(40px);
      letter-spacing: -0.1px;

      @include media('<=phoneLandscape') {
        font-size: rem(16px);
        letter-spacing: normal;

        margin: 0 rem(20px) rem(40px) 0;
      }
    }
  }
}
