.root {
  overflow: hidden;

  padding: 0 0 rem(128px) 0;

  @include media('<=phoneLandscape') {
    padding: 0 0 rem(42px) 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media('<=phoneLandscape') {
    display: flex;
    flex-direction: column;
  }
}

.descriptionSection {
  padding-top: rem(62px);

  @include media('>desktop') {
    padding-right: rem(150px);
  }

  @include media('>=tablet') {
    padding-right: rem(50px);
  }

  @include media('<=desktop') {
    padding-top: rem(48px);
  }

  .title {
    font-size: rem(32px);
    font-weight: v('bold');

    margin-bottom: rem(24px);

    @include media('<=desktop') {
      font-size: rem(30px);
    }

    @include media('<=tablet') {
      font-size: rem(28px);
    }
  }

  .description {
    @include inter($size: 16px, $color: adjust-color(c('brand-water'), $alpha: -0.3));

    margin-bottom: 2rem;

    @include media('<=tablet') {
      font-size: rem(14px);
    }
  }
}

.imageSection {
  display: flex;
  align-items: center;

  @include media('<=phoneLandscape') {
    display: none;
  }
}

.imageSectionMobile {
  @include media('>phoneLandscape') {
    display: none;
  }
}

.imageSection,
.imageSectionMobile {
  svg {
    width: 100%;
    height: 100%;
  }
}
