.container {
  padding-top: rem(9px);
  padding-bottom: rem(145px);

  @include media('<=phoneLandscape') {
    padding-top: rem(64px);
    padding-bottom: rem(71px);
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(64px);
    text-align: center;
    opacity: 0;
    @include transition((opacity));
    @include transition-duration(0.5s);

    @include media('<=phoneLandscape') {
      margin-bottom: rem(32px);
      align-items: flex-start;
      text-align: left;
    }
    .labelWrapper {
      @include labelOrange;
      margin-bottom: rem(24px);

      @include media('<=desktop') {
        margin-bottom: rem(16px);
      }
    }
    .label {
      @include media('<=desktop') {
        font-size: rem(12px);
      }
    }
    .title {
      @include inter-h2($lhMobile: 140%);
      margin-bottom: rem(16px);

      @include media('<=desktop') {
        font-size: rem(28px);
        max-width: rem(560px);
      }
    }

    .description {
      @include inter($size: 20px, $weight: 400, $lh: 160%, $color: v('light-gray'));
      max-width: rem(875px);

      @include media('<=desktop') {
        font-size: rem(16px);
        max-width: rem(560px);
      }
    }
  }
  .visible {
    opacity: 1;
  }
  .platformContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: rem(667px);
    position: relative;

    @include media('<=desktop') {
      min-height: rem(450px);
    }

    .platformTitle {
      text-transform: uppercase;
      @include jb-mono($size: 14px, $weight: 500, $lh: 130%, $color: #ff5d22);
      letter-spacing: 0.01em;

      opacity: 0;
      @include transition((opacity));
      transition-delay: 0.25s;

      padding-bottom: rem(10px);

      @include media('<=desktop') {
        font-size: rem(9px);
        font-weight: 700;
        line-height: rem(16px);
        letter-spacing: 0.04em;
      }

      @include media('<=phoneLandscape') {
        @include jb-mono($size: 14px, $weight: 500, $lh: 130%);
      }
    }

    .platformLogo {
      position: relative;
      width: rem(380px);
      display: flex;
      justify-content: center;

      @include media('<=desktop') {
        width: rem(240px);
      }

      @include media('<=phoneLandscape') {
        width: rem(270px);
      }

      .bottomLayerLogo,
      .bottomLayerLogoMobile,
      .linePoints,
      .yourTrafficLabel,
      .dot,
      .dots {
        position: absolute;
      }
      .linePoints,
      .yourTrafficLabel {
        @include media('<=phoneLandscape') {
          display: none;
        }
      }
      .topLayerLogo,
      .topLayerLogoMobile {
        width: 100%;
        z-index: 2;
        @include transition((opacity, transform));
        @include transition-duration(1.5s);
        transition-delay: 4.25s;
        opacity: 0;
        transform: translateY(-90px);

        @include media('<=phoneLandscape') {
          display: none;
          transition-delay: 2.25s;
        }
      }
      .topLayerLogoMobile {
        display: none;

        @include media('<=phoneLandscape') {
          display: block;
          transition-delay: 2.25s;
        }
      }
      .bottomLayerLogo {
        width: rem(405px);
        top: rem(20px);
        z-index: 1;

        @include transition((opacity, transform));
        @include transition-duration(0.75s);
        transition-delay: 0.75s;
        opacity: 0;
        transform: translateY(-90px);
        @include media('<=desktop') {
          width: rem(245px);
        }

        @include media('<=phoneLandscape') {
          display: none;
        }
      }
      .bottomLayerLogoMobile {
        display: none;

        @include media('<=phoneLandscape') {
          display: block;
          top: rem(11px);
          width: rem(294px);
          left: rem(-10px);
          z-index: 1;

          @include transition((opacity, transform));
          @include transition-duration(0.75s);
          transition-delay: 0.75s;
          opacity: 0;
          transform: translateY(-90px);
        }
      }
      .linePoints {
        width: rem(15px);
        top: rem(194px);
        left: rem(145px);
        z-index: 0;

        opacity: 0;
        @include transition((opacity));
        @include transition-duration(0.25s);

        transition-delay: 1.25s;

        @include media('<=desktop') {
          width: rem(12px);
          top: rem(35px);
        }
      }
      .dots {
        @include media('<=phoneLandscape') {
          display: none;
        }
        .dotLineIcon {
          position: absolute;
          width: rem(8px);
          left: rem(-41.5px);
          $initial: 200px;
          $padding: 40px;

          opacity: 0;
          transform: translateY(90px);
          @include transition((opacity, transform));
          @include transition-duration(1.25s);

          rect {
            fill: #858585;
          }
          transition-delay: 1.5s;

          @include media('<=desktop') {
            width: rem(7px);
            left: rem(27.5px);
          }

          @for $i from 1 to 14 {
            &:nth-child(#{$i}) {
              $top: calc(40px * #{$i});
              top: calc(#{$top} + 40px);

              @include media('<=desktop') {
                $top: calc(28px * #{$i});
                top: calc(#{$top} + 7px);
              }
            }
          }
          &:nth-child(1) {
            @include media('<=desktop') {
              display: none;
            }
          }
        }
      }

      .yourTrafficLabel {
        text-transform: uppercase;
        @include jb-mono($size: 14px, $weight: 500, $lh: 130%);
        letter-spacing: 0.01em;

        opacity: 0;
        transition-delay: 3.75s;
        @include transition((opacity));
        @include transition-duration(1s);

        top: rem(246px);
        left: rem(172px);

        @include media('<=desktop') {
          font-size: rem(9px);

          top: rem(325px);
          left: rem(70px);
        }
      }

      .dot {
        display: flex;
        column-gap: rem(8px);
        align-items: center;
        @include inter($size: 16px, $weight: 400, $lh: 160%);
        @include media('<=desktop') {
          font-size: rem(9px);
        }
        .dotIconWrapper {
          letter-spacing: 0.01em;

          .dotIcon {
            border-radius: 50%;

            padding: rem(10.5px);
            background: #f6f6f699;
            width: rem(30px);
            height: rem(30px);

            @include media('<=desktop') {
              width: rem(23px);
              height: rem(23px);
              padding: rem(7.5px);
            }
          }
        }
      }
      .integrationsDot,
      .mobileDot,
      .webDot {
        opacity: 0;
        @include transition((opacity));
        @include transition-duration(1s);

        @include media('<=phoneLandscape') {
          display: none;
        }
      }
      .integrationsDot {
        left: rem(39px);
        top: rem(310px);
        transition-delay: 2.25s;

        @include media('<=desktop') {
          left: rem(81px);
          top: rem(195px);
        }
      }
      .mobileDot {
        left: rem(79px);
        top: rem(390px);
        transition-delay: 2.5s;

        @include media('<=desktop') {
          left: rem(103.5px);
          top: rem(223px);
        }
      }
      .webDot {
        left: rem(96px);
        top: rem(470px);
        transition-delay: 2.75s;

        @include media('<=desktop') {
          left: rem(112.5px);
          top: rem(251px);
        }
      }
    }
    .leftSection,
    .rightSection {
      display: flex;
      flex-direction: column;

      @include media('>phoneLandscape') {
        position: absolute;
      }

      @include media('<=phoneLandscape') {
        padding: rem(16px) rem(16px) 0 rem(16px);
        border: 1px solid #e8e8e8;
        box-shadow: 0px 4px 15px rgba(161, 161, 161, 0.15), 0px 0px 1px rgba(232, 232, 232, 0.35);
        border-radius: rem(8px);
      }

      .sideTitle {
        @include inter($size: 24px, $weight: 600, $lh: 130%);
        padding-bottom: rem(8px);
        opacity: 0;
        @include transition((opacity));
        @include transition-duration(1.5s);

        @include media('<=desktop') {
          font-size: rem(16px);
          line-height: 155%;
        }
        @include media('<=phoneLandscape') {
          font-size: rem(20px);
          line-height: 150%;
        }
      }
      .sideDescription {
        @include inter($size: 20px, $weight: 400, $lh: 140%, $color: v('light-gray'));
        max-width: rem(300px);
        padding-bottom: rem(8px);
        opacity: 0;
        @include transition((opacity));
        @include media('<=desktop') {
          font-size: rem(12px);
          line-height: 160%;
          max-width: rem(200px);
          padding-bottom: 0;
        }
        @include media('<=phoneLandscape') {
          max-width: unset;
          font-size: rem(14px);
          line-height: 160%;
          letter-spacing: -0.01em;
          font-weight: 500;
        }
      }
    }
    .leftSection {
      top: rem(190px);
      width: 100%;

      @include media('<=desktop') {
        top: rem(140px);
        left: rem(55px);
      }

      @include media('<=phoneLandscape') {
        margin-top: rem(32px);
        margin-bottom: rem(16px);
      }
      .leftLine {
        width: 36%;
        height: rem(2px);

        opacity: 0;
        transition-delay: 2.75s;
        transform: translateX(-15px);
        @include transition((opacity, transform));
        @include transition-duration(1.25s);

        @include media('<=desktop') {
          width: 32%;
        }
        @include media('<=phoneLandscape') {
          display: none;
        }
      }

      .leftWrapper {
        left: rem(110px);
        top: rem(32px);

        @include media('>phoneLandscape') {
          position: absolute;
        }
        @include media('<=1100px') {
          left: rem(80px);
        }
        @include media('<=desktop') {
          top: rem(16px);
          left: 0;
        }

        .sideTitle,
        .sideDescription {
          @include transition-duration(1s);
          transition-delay: 3.25s;

          @include media('<=phoneLandscape') {
            transition-delay: 1s;
          }
        }
      }
    }

    .rightSection {
      top: 107px;
      left: 64%;

      @include media('<=desktop') {
        top: 75px;
        left: 65%;
      }
      @include media('<=phoneLandscape') {
        width: 100%;
      }
      .rightLine {
        width: 100%;
        height: rem(2px);

        @include transition((opacity, transform));
        @include transition-duration(1.5s);
        transition-delay: 4.25s;
        opacity: 0;
        transform: translateY(-90px);

        @include media('<=desktop') {
          width: 30;
        }
        @include media('<=phoneLandscape') {
          display: none;
        }
      }

      .rightWrapper {
        left: rem(52px);
        top: rem(32px);

        @include media('>phoneLandscape') {
          position: absolute;
        }

        @include media('<=desktop') {
          left: 0;

          top: rem(48px);
        }
      }
      .sideTitle,
      .sideDescription {
        @include transition((opacity, transform));
        @include transition-duration(1.25s);
        transition-delay: 4.25s;
        opacity: 0;
        transform: translateY(-90px);

        @include media('<=phoneLandscape') {
          transition-delay: 2s;
        }
      }
      .sideDescription {
        @include media('<=desktop') {
          padding-bottom: rem(8px);
        }
      }
    }
    .feature {
      padding: rem(24px) 0;
      opacity: 0;
      transform: translateY(-25px);
      @include transition((opacity, transform));
      @include transition-duration(1s);

      @include media('<=desktop') {
        padding: rem(16px) 0;
      }

      .featureTitle {
        @include inter($size: 16px, $weight: 600, $lh: 145%);

        @include media('<=desktop') {
          font-size: rem(14px);
          line-height: 155%;
        }
        @include media('<=phoneLandscape') {
          font-size: rem(16px);
        }
      }
      .points {
        padding-top: rem(8px);
        display: flex;
        flex-direction: column;
        row-gap: rem(4px);

        .point {
          display: flex;
          column-gap: rem(8px);
          @include inter($size: 16px, $weight: 400, $lh: 160%, $color: v('light-gray'));
          letter-spacing: 0.01em;

          @include media('<=desktop') {
            letter-spacing: -0.01em;
            font-size: rem(12px);
            color: #434344;
          }
          @include media('<=phoneLandscape') {
            font-size: rem(14px);
          }
          .disc {
            width: rem(4px);
            margin-bottom: rem(1px);
          }
        }
      }
      &:first-of-type {
        border-bottom: 1px solid #d0d0d0;
      }
    }

    .feature1 {
      transition-delay: 3.5s;
      @include media('<=phoneLandscape') {
        transition-delay: 1.25s;
      }
    }
    .feature2 {
      transition-delay: 3.75s;
      @include media('<=phoneLandscape') {
        transition-delay: 1.5s;
      }
    }
    .feature3 {
      transition-delay: 5s;
      @include media('<=phoneLandscape') {
        transition-delay: 2.25s;
      }
    }
    .feature4 {
      transition-delay: 5.25s;
      @include media('<=phoneLandscape') {
        transition-delay: 2.75s;
      }
    }
  }
}

.container {
  .platformVisible {
    .platformTitle {
      opacity: 1;
    }
    .platformLogo {
      .bottomLayerLogo,
      .topLayerLogo,
      .topLayerLogoMobile,
      .bottomLayerLogoMobile {
        opacity: 1;
        transform: translateY(0);
      }
      .linePoints,
      .integrationsDot,
      .mobileDot,
      .webDot,
      .yourTrafficLabel {
        opacity: 1;
        transform: translateY(0);
      }
      .dots {
        .dotLineIcon {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .leftSection {
      .leftLine {
        opacity: 1;
        transform: translateX(0);
      }
      .leftWrapper {
        .sideTitle,
        .sideDescription {
          opacity: 1;
        }
      }
    }
    .rightSection {
      .rightLine {
        opacity: 1;
        transform: translateY(0);
      }
      .rightWrapper {
        .sideTitle,
        .sideDescription {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .leftSection,
    .rightSection {
      .feature {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
