.root {
  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }

  .small {
    font-size: 1.75rem;
  }

  .normal {
    font-size: 2.25rem;
  }

  .medium {
    font-size: 2.75rem;

    @include media('<=phoneLandscape') {
      font-size: 2.25rem;
    }
  }

  .large {
    font-size: 4rem;

    @include media('<=phoneLandscape') {
      font-size: 3.25rem;
    }
  }

  .weightPrimary {
    font-weight: v('bold');
  }

  .weightSecondary {
    font-weight: v('normal');
  }

  .subtitle {
    font-family: v('ff-sans');

    margin: 2rem 0;
  }

  .label {
    font-family: v('ff-sans');

    margin-bottom: 2rem;
  }

  .adjacent {
    margin-top: 2rem;
  }
}
