.subHeader {
  .title {
    text-align: center;
    font-size: 2.75rem;
    font-weight: v('normal');
    margin-bottom: 2rem;
  }

  .subtitle {
    text-align: center;
    font-size: 1.75rem;
    font-family: v('ff-sans');
    font-weight: v('normal');
    margin-bottom: 2rem;
  }
}
