.root {
  padding-top: rem(110px);
  padding-bottom: rem(46px);

  @include media('<=desktop') {
    padding-top: rem(62px);

    flex-direction: column-reverse;
    align-items: center;
  }
  .container {
    display: flex;
    column-gap: rem(35px);

    @include media('<=desktop') {
      flex-direction: column-reverse;
      align-items: center;
    }

    .descriptionSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: rem(32px);
      min-width: rem(614px);

      .title {
        @include inter($size: 56px, $weight: 700, $lh: 114%);
        letter-spacing: -0.01em;
      }

      .description {
        @include inter($size: 20px, $weight: 400, $lh: 160%);
      }

      @include media('<=desktop') {
        text-align: center;
        min-width: unset;
        .title {
          font-size: rem(44px);
        }
        .description {
          font-size: rem(18px);
        }
      }

      @include media('<=phoneLandscape') {
        row-gap: rem(16px);
        .title {
          font-size: rem(32px);
        }
        .description {
          font-size: rem(16px);
        }
      }
    }
    .imageSection {
      @include media('>desktop') {
        position: relative;
        left: rem(35px);
      }
      width: 100%;
      max-width: rem(600px);
    }
  }
}
