.container {
  padding-top: rem(96px);
  padding-bottom: rem(96px);
  display: flex;
  @include media('<=phoneLandscape') {
    padding-top: rem(40px);
  }

  @include media('<=desktopHeader') {
    flex-direction: column;
    row-gap: rem(8px);
    padding-bottom: 0;
  }
  .heroSection {
    position: relative;
    width: 100%;
    .title {
      @include inter($size: 64px, $weight: 600, $lh: 130%);
      margin-bottom: rem(24px);

      @include media('<=phoneLandscape') {
        font-size: rem(34px);
        margin-bottom: rem(16px);
      }
    }

    .description {
      @include inter($size: 20px, $weight: 400, $lh: 160%, $color: v('light-gray'));

      margin-bottom: rem(56px);

      @include media('>desktop') {
        max-width: rem(690px);
      }
      @include media('<=phoneLandscape') {
        font-size: rem(16px);
        margin-bottom: rem(32px);
      }
    }
    .buttons {
      display: flex;
      column-gap: rem(12px);

      margin-bottom: rem(32px);

      @include media('<=phoneLandscape') {
        flex-direction: column;
        row-gap: rem(12px);
        margin-bottom: rem(24px);
      }
    }
    .tips {
      display: flex;
      column-gap: rem(16px);

      .bottomTip {
        @include inter($size: 14px, $weight: 400, $lh: 160%, $color: v('light-gray'));
        letter-spacing: 0.01em;

        display: flex;
        align-items: center;
        column-gap: rem(8px);

        @include media('<=phoneLandscape') {
          flex-direction: column;
          row-gap: rem(8px);
          align-items: flex-start;
        }
      }
    }
    @include media('<=phoneLandscape') {
      display: flex;
      flex-direction: column;
    }
  }
  .videoWrapper {
    position: relative;
    @include media('<=desktopHeader') {
      align-self: center;
    }
    .videoSection {
      transform: translateZ(-100px);
      width: rem(427px);
      height: 100%;
      @include media('<=phoneLandscape') {
        width: 100%;
        padding: 0 rem(20px);
      }
    }
    .animationText {
      position: absolute;
      top: 40%;
      left: 8%;
      transform: rotateX(58deg) rotateY(-3deg) rotateZ(47deg);
      z-index: 1;
      width: rem(220px);

      @include media('<=phoneLandscape') {
        left: 11%;
      }
      @include media('<=525px') {
        width: 42vw;
      }
      .animationLabel,
      .animationVisitorId {
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
      }

      .animationLabel {
        text-transform: uppercase;
        @include jb-mono($size: 14px, $weight: 400, $lh: 140%, $color: v('light-gray'));

        white-space: nowrap;

        @include media('<=525px') {
          font-size: 2vw;
        }
      }
      .animationVisitorId {
        @include jb-mono($size: 18px, $weight: 600, $lh: 130%, $color: v('light-gray'));

        @include media('<=525px') {
          font-size: 3.25vw;
        }
      }
      &.startVisitorId {
        animation: jump 0.22s ease 1.1s 1;

        .animationLabel {
          width: 100%;
          animation: type 0.3s steps(40, end);
          animation-fill-mode: forwards;
        }
        .animationVisitorId {
          width: 100%;
          animation: typeBorder 0.3s steps(40, end);
          animation-delay: 0.3s;
          animation-fill-mode: forwards;
        }

        @keyframes jump {
          0% {
            top: 40%;
          }
          35% {
            top: 41%;
          }
          100% {
            top: 40%;
          }
        }
        @keyframes type {
          0% {
            width: 0;
          }
          1% {
            opacity: 1;
          }
          100% {
            opacity: 1;
            border: none;
          }
        }

        @keyframes typeBorder {
          0% {
            width: 0;
          }
          1% {
            opacity: 1;
          }
          99.9% {
            border-right: 0.15em solid orange;
          }
          100% {
            opacity: 1;
            border: none;
          }
        }
      }
    }
  }
}
