.faqSection {
  padding-top: rem(76px);

  display: flex;
  flex-direction: column;
  row-gap: rem(56px);

  @include media('<=phoneLandscape') {
    padding-top: rem(44px);
  }

  .faq {
    .faqTitle {
      @include scrollSection;

      text-align: left;
      @include inter($size: 24px, $weight: 700, $lh: 36px);
      letter-spacing: -0.01em;
      padding-bottom: rem(32px);

      @include media('<=phoneLandscape') {
        font-size: rem(20px);
      }
    }
  }
}

.content {
  max-width: rem(584px);
  text-align: left;
  a {
    text-decoration: underline;
  }
}
