.root {
  padding: rem(64px) 0;

  @include media('<=phoneLandscape') {
    padding-bottom: rem(40px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  @include inter($size: 32px, $weight: v('bold'), $lh: 130%);
  padding-bottom: rem(40px);
  letter-spacing: -0.02em;

  @include media('<=phone') {
    font-size: rem(24px);
    padding-bottom: rem(40px);
  }
}
.swiperSection {
  display: grid;
  grid-template-columns: 1fr rem(842px) 1fr;

  @include media('<=desktop') {
    display: flex;
    width: 100%;
  }

  .buttonLeft {
    padding-right: rem(64px);
  }
  .buttonRight {
    padding-left: rem(64px);
  }
  .buttonLeft,
  .buttonRight {
    display: flex;
    align-items: center;

    .arrowWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      border-radius: rem(12px);

      width: rem(48px);
      height: rem(48px);

      .arrow {
        width: rem(20px);
        height: rem(20px);
      }

      @include transition(background);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-out);

      &:hover {
        background: rgba(0, 0, 0, 0.07);
      }

      &:active {
        background: rgba(0, 0, 0, 0.12);
      }
    }

    @include media('<=desktop') {
      display: none;
    }
  }
  .swiperWrapper {
    width: 100%;

    @include media('<=desktop') {
      width: rem(700px);
    }
    @include media('<=phoneLandscape') {
      width: rem(500px);
    }
    @include media('<=phone') {
      width: rem(320px);
    }
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: rem(30px);

    @include media('<=phoneLandscape') {
      padding-bottom: rem(14px);
    }

    .photo {
      border-radius: rem(16px);
      border: 4px solid #f3f3f3;
      width: rem(708px);
      height: rem(454px);

      @include media('<=desktop') {
        width: rem(531px);
        height: rem(340px);
      }
      @include media('<=phoneLandscape') {
        width: rem(350px);
        height: rem(225px);
      }

      @include media('<=phone') {
        width: rem(240px);
        height: rem(240px);
        object-fit: cover;
      }
    }
  }
}
