.nav {
  padding: 3rem 0 0;

  @include media('<=desktop') {
    margin-top: 0;
    padding-top: 2rem;
  }
}

.navLeft,
.navRight,
.navMain,
.navSecondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMain {
  flex-wrap: wrap;
}

.navSecondary {
  justify-content: flex-end;

  > * + * {
    margin-left: 4rem;
  }
}

.navLeft {
  .link {
    &:not(.item) {
      padding: 1.5rem 0;
    }
  }

  > * {
    &:not(.linkLogo) {
      @include media('>tablet', '<=desktop') {
        display: none;
      }
    }

    + * {
      margin-left: 3.75rem;
    }
  }
}

.navRight {
  > * + * {
    @include media('>desktop') {
      margin-left: 1.5rem;
    }
  }

  > span {
    height: 28px;

    @include media('>tablet', '<=desktop') {
      display: none;
    }
  }
}

:global(.isMobileMenuOpen) {
  .navRight {
    a {
      display: none;
    }
  }
}

.logo {
  object-fit: contain;

  @include media('>tablet') {
    height: auto;
    width: 200px;
  }
  @include media('<=tablet') {
    width: 150px;
  }
  @include media('<=phone') {
    width: 100px;
  }
}

.desktopOnly {
  @include media('<=desktop') {
    display: none;
  }
}

.mobileToggler {
  @include media('>desktop') {
    display: none;
  }
}

.buttonIcon {
  width: 2rem;
  height: 2rem;
  fill: v('color');
}

.link {
  @include transition((opacity));
  opacity: 1;

  font-size: 1.75rem;

  cursor: pointer;

  &:not(.item) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &:not(.has-submenu) {
    &:hover {
      opacity: v('faded');
    }
  }
}

.button {
  padding-left: 2rem;
  padding-right: 2rem;
}
