.header {
  @include media('>desktopHeader') {
    position: sticky;
    top: 0;
    z-index: v('z-header');
  }

  @include media('<=desktopHeader') {
    overflow: clip;
  }
}

.nav {
  @include media('>desktopHeader') {
    background: c('white');
  }
  @include media('<=desktopHeader') {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.root {
  padding-top: rem(18px);
  padding-bottom: rem(18px);

  @include media('<=desktopHeader') {
    padding: rem(20px) rem(20px);
  }
}

.navLeft,
.navRight,
.navMain,
.navSecondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMain {
  flex-wrap: wrap;
}

.navSecondary {
  justify-content: flex-end;
  > * + * {
    margin-left: 4rem;
  }
}

.navLeft {
  display: flex;
  column-gap: rem(32px);
}

.navRight {
  display: flex;
  column-gap: rem(12px);
}

:global(.isMobileMenuOpen) {
  .navRight {
    a {
      display: none;
    }
  }
}

.logo {
  object-fit: contain;
  margin-right: rem(16px);

  @include media('>phone') {
    height: auto;
    width: rem(172px);
  }
  @include media('<=phone') {
    width: rem(137px);
  }
}

.desktopOnly {
  @include media('<=desktopHeader') {
    display: none;
  }
}

.mobileToggler {
  margin-left: rem(16px);
  margin-top: rem(4px);
  width: rem(16px);
  height: rem(16px);
  position: relative;

  transform: rotate(0deg);

  transition: 0.5s ease-in-out;
  cursor: pointer;

  @include media('>desktopHeader') {
    display: none;
  }
  span {
    display: block;
    position: absolute;
    height: rem(2px);
    width: 100%;
    background: var(--brand-water);
    left: 0;

    transform: rotate(0deg);

    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 6px;
    }
    &:nth-child(4) {
      top: 12px;
    }
  }
  &.isOpen {
    span {
      &:nth-child(1),
      &:nth-child(4) {
        top: 6px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.buttonIcon {
  width: 2rem;
  height: 2rem;
  fill: v('color');
}

.signupButton {
  @include media('>desktopHeader') {
    padding: 0 rem(20px);
  }
}

.link {
  @include inter($size: 14px, $weight: v('normal'), $lh: 150%);

  @include transition((opacity));
  opacity: 1;

  cursor: pointer;

  &:hover {
    opacity: v('faded');
  }
}

.signupButton,
.button {
  @include media('<=tablet') {
    display: none;
  }
}

.headerDark {
  background: v('dark');
  .darkRoot {
    padding-top: rem(32px);
    padding-bottom: rem(37px);

    @include media('<=phoneLandscape') {
      padding-top: rem(20px);
      padding-bottom: rem(20px);
    }
  }
}

.loginLink {
  @include inter($size: 14px, $weight: 600, $lh: 150%, $color: v('github-orange-gradient'));
  padding-right: rem(10px);
  @include transition((color));

  &:hover {
    color: adjust-color(c('github-orange-gradient'), $saturation: -19%, $lightness: -6%);
  }
}
