.header {
  @include media('>desktop') {
    position: sticky;
    top: 0;
    z-index: v('z-header');
  }
}

.nav {
  padding: rem(30px) 0 1rem;

  @include media('>desktop') {
    background: c('white');
  }
  @include media('<=desktop') {
    margin-top: 0;
    padding-top: rem(12px);
  }
}

.root {
  @include media('<=phone') {
    padding: 0 rem(20px);
  }
}

.navLeft,
.navRight,
.navMain,
.navSecondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMain {
  flex-wrap: wrap;
}

.navSecondary {
  justify-content: flex-end;

  > * + * {
    margin-left: 4rem;
  }
}

.navLeft {
  .link {
    &:not(.item) {
      padding: 1.5rem 0;
    }
  }

  > * {
    &:not(.linkLogo) {
      @include media('>tablet', '<=desktop') {
        display: none;
      }
    }

    + * {
      margin-left: 3.75rem;

      @media screen and (max-width: 1150px) {
        margin-left: 1.5rem;
      }
      @media screen and (max-width: 1060px) {
        margin-left: 0.7rem;
      }
    }
  }
}

.navRight {
  @include media('>desktop') {
    a {
      height: rem(42px);
    }
  }

  > * + * {
    @include media('>desktop') {
      margin-left: 1.5rem;
    }
  }

  > span {
    height: 28px;

    @include media('>tablet', '<=desktop') {
      display: none;
    }
  }
}

:global(.isMobileMenuOpen) {
  .navRight {
    a {
      display: none;
    }
  }
}

.logo {
  object-fit: contain;

  @include media('>phone') {
    height: auto;
    width: rem(172px);
  }
  @include media('<=phone') {
    width: rem(137px);
  }
}

.desktopOnly {
  @include media('<=desktop') {
    display: none;
  }
}

.mobileToggler {
  width: rem(14px);
  margin-left: rem(16px);

  @include media('>desktop') {
    display: none;
  }
}

.buttonIcon {
  width: 2rem;
  height: 2rem;
  fill: v('color');
}

.signupButton {
  @include media('>desktop') {
    padding: 0 rem(20px);
  }

  @include media('<=phone') {
    padding: 0 rem(12px);
    border-radius: 4px;
    height: rem(32px);

    font-size: rem(12px);
    line-height: 150%;
  }
}

.link {
  @include transition((opacity));
  opacity: 1;

  font-size: 1.75rem;

  cursor: pointer;

  &:not(.item) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &:not(.has-submenu) {
    &:hover {
      opacity: v('faded');
    }
  }
}

.signupButton,
.button {
  @include media('>desktop') {
    padding: 0 rem(20px) rem(1px) rem(20px);

    border-radius: rem(6px);
  }
}
