.top {
  background-color: v('off-white');
  font-size: 1.75rem;

  @include media('<=desktop') {
    display: none;
  }
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;

  > * + * {
    margin-left: 3.75rem;
  }
}

.link {
  @include transition((opacity));
  opacity: 1;

  cursor: pointer;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &:not(.has-submenu) {
    &:hover {
      opacity: v('faded');
    }
  }
}
