.select2 {
  &-container--default {
    .select2-selection {
      --height: 6rem;

      &--single {
        height: v('height');
        border-radius: 1rem !important;
        border: solid 1px adjust-color(c('brand-water'), $alpha: -0.7) !important;
        @include transition((border-color));

        &:focus {
          outline: none;
          border: solid 1px adjust-color(c('brand-water'), $alpha: -0.3) !important;
        }
      }

      &__rendered {
        line-height: v('height') !important;
        padding: 0 5rem 0 2rem !important;
        font-weight: v('bold');
        font-size: 2.5rem;
      }
    }
  }

  /*================================
  =            DROPDOWN            =
  =================================*/

  &-dropdown {
    transform: translateY(8px);
    border-radius: 1rem !important;
    border: none;
    padding: 1rem;
    box-shadow: 0 1rem 3rem 0 transparentize(c('brand-water'), 0.9);

    .select2-results__options {
      border-radius: 1rem;
    }

    .select2-results__option {
      color: v('brand-water') !important;
      opacity: v('faded');
      padding: 1rem;
      @include transition((opacity, background));

      + .select2-results__option {
        margin-top: 0.5rem;
      }

      &[aria-selected='true'],
      &--highlighted {
        background-color: v('off-white') !important;
        font-weight: v('bold') !important;
        border-radius: 1rem !important;
        color: v('brand-water') !important;
      }
    }
  }

  /*=====  End of DROPDOWN  ======*/

  /*=======================================
  =            SELECTION ARROW            =
  ========================================*/

  .select2-selection__arrow {
    width: 4rem !important;
    height: 4rem !important;
    top: 50% !important;
    right: 1rem !important;
    transform: translateY(-50%) !important;
    opacity: v('extra-faded');

    b {
      width: 1rem !important;
      height: 1rem !important;
      top: 50%;
      transform-origin: center center;
      transform: rotate(45deg) translateY(-50%);
      border-color: v('brand-color') !important;
      border-width: 1px !important;
      border-left: 0 !important;
      border-top: 0 !important;
    }
  }

  /*=====  End of SELECTION ARROW  ======*/
}
