a {
  text-decoration: none;
  color: inherit;

  &.primary {
    color: v('brand-fire');
    @include transition((color));

    &:hover {
      color: adjust-color(c('brand-fire'), $lightness: -10%);
    }
  }

  &.link {
    position: relative;
    font-weight: v('semi');

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      opacity: 1;
      @include transition((opacity));
    }

    &:hover {
      &:before {
        opacity: 0;
      }
    }

    &--primary {
      color: v('brand-fire');
    }
  }
}
