ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.list {
    &--with-arrows {
      list-style: '>  ' outside none;
      padding-left: 4rem;

      li {
        &::marker {
          font-size: 3rem;
          font-weight: v('semi');
          color: v('brand-fire');
        }

        + li {
          margin-top: 2rem;
        }
      }
    }

    &--with-numbers {
      counter-reset: number;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
      @include gap(2rem);

      li {
        counter-increment: number;
        display: flex;

        &:before {
          content: counter(number) '.';
          font-size: 2rem;
          font-weight: v('semi');
          color: v('brand-fire');
          margin-right: 1rem;
        }
      }
    }
  }
}
