.root {
  position: relative;
  overflow-y: hidden;

  .content {
    margin-top: 1.75rem;

    @include overrideContentStyle;
  }

  &::before {
    content: '';
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;

    background-repeat: no-repeat;
    background-size: 1400px auto;
    // TODO Change to new approach for images after merging tech branch.
    background-image: url('../../../img/bg-full.png');
    background-position: 5% 40%;

    z-index: -1;

    @include media('<=phoneLandscape') {
      background-position: 5% -25%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: c('white');

    @include media('<=phoneLandscape') {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.subheader {
  margin-left: 5rem;

  @include media('<=tabletWide') {
    margin: 0;
    margin-top: 5rem;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  margin-left: 12rem;

  @include media('<=phoneLandscape', '>phone') {
    flex-direction: row;
    align-self: center;
  }
  @include media('<=tabletWide') {
    margin-right: 0;
  }

  @include media('<=phoneLandscape') {
    margin: 0;
    margin-top: 5rem;
  }
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & + .action {
    margin-top: 2rem;
  }

  @include media('<=phoneLandscape', '>phone') {
    & + .action {
      margin-top: 0;
      margin-left: 6rem;
    }
  }

  @include media('<=phone') {
    align-items: center;
  }
}

.label {
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.link {
  cursor: pointer;

  color: c('brand-fire');
  font-size: 1.8rem;
  font-weight: bold;

  &:hover {
    color: adjust-color(c('brand-fire'), $lightness: -20%);
  }

  @include media('<=phoneLandscape', '>phone') {
    padding-bottom: 1rem;
  }
}
