.root {
  position: relative;
  overflow-y: hidden;

  &::before {
    content: '';
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;

    background-repeat: no-repeat;
    background-size: 1400px auto;
    // TODO Change to new approach for images after merging tech branch.
    background-image: url('../../../img/bg-full.png');
    background-position: 5% 40%;

    z-index: -1;

    @include media('<=phoneLandscape') {
      background-position: 5% -25%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: c('white');

    @include media('<=phoneLandscape') {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.button {
  margin-right: 2rem;
  margin-left: 28rem;

  @include media('<=desktop') {
    margin-left: 12rem;
  }

  @include media('<=phoneLandscape') {
    margin-top: 5rem;
    margin-left: 0;
    align-self: flex-end;
  }
}
