.counter {
  @include inter($size: 12px, $weight: 400, $lh: 19px, $color: #89898a);
  flex: 2;
  height: 100%;
  background-color: v('white');
  padding: 0 rem(10px);
  display: flex;
  align-items: center;
  justify-content: center;

  &.white {
    color: black;
    mix-blend-mode: lighten;
    font-weight: v('semi');
  }
}

.button {
  --height: 32px;
  --radius: 5px;
  --padding: 0;
  --bgColor: #eaeaea;
  --color: #727273;
  @include inter($size: 12px, $weight: 400, $lh: 19px, $color: #89898a);
  letter-spacing: 0.001em;
  width: 135px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: 1.2px solid #d0d0d0;
  overflow: hidden;
  text-decoration: none;
  color: v(color);
  background-color: v(bgColor);
  border-radius: v(radius);
  padding: v(padding);
  height: v(height);
  user-select: none;
  white-space: nowrap;
  @include transition((background-color, opacity));
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: adjust-color(c('off-white'), $lightness: -3%);
  }

  .label {
    flex: 3;
    padding: 0 rem(10px);
    display: flex;
    align-items: center;

    &.white {
      font-weight: v('semi');
    }
  }

  &.white {
    --bgColor: transparent;
    --color: c('off-white');
    --height: 42px;
    @include inter($size: 14px, $weight: 600, $lh: 150%);
    border: 1px solid v('white');

    &:focus,
    &:hover {
      background-color: transparent;
      opacity: 0.7;
    }
  }

  .icon {
    width: rem(20px);
    height: rem(20px);
    fill: adjust-color(c('brand-water'), $alpha: -0.5%);
    margin-right: rem(6px);

    &.white {
      fill: c('off-white');
    }
  }
}
