.demoSection {
  background-repeat: no-repeat;
  background-size: 1024px auto;
  background-position: center 65%;
  overflow: hidden;

  padding: 6rem 0;

  @include media('<=phoneLandscape') {
    padding-bottom: 3rem;
  }
}

.demoContainer {
  padding: 0;
}

.widgetContainer {
  position: relative;
  display: flex;
  justify-content: center;

  @include media('<=phoneLandscape') {
    display: block;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 660px;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media('<=phoneLandscape') {
      width: 100%;
      flex-direction: column;
      max-width: 50rem;
      padding: 0 3rem;
      text-align: center;
    }

    .title {
      font-weight: bold;

      @include media('<=phoneLandscape') {
        margin-bottom: 2rem;
      }
    }

    .description {
      text-align: right;

      @include media('<=phoneLandscape') {
        font-size: 2.5rem;
        text-align: center;
      }
    }

    .strong {
      color: v('brand-fire');
    }
  }

  .content {
    max-width: 660px;
  }

  @include media('<=phoneLandscape') {
    display: block;
  }
}
