.footer {
  background-color: v('brand-water');
  color: v('white');
  padding: rem(64px) 0 rem(24px) 0;

  .copyrights {
    margin-top: rem(24px);

    @include sans($size: 14px, $weight: 400, $lh: 150%);
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: rem(40px);

    @include media('<=desktop') {
      display: flex;
      row-gap: rem(64px);
    }

    .wrapper {
      display: flex;
      column-gap: rem(42px);

      @include media('<=desktop') {
        justify-content: space-between;
      }

      @include media('<=phoneLandscape') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(20px);
        row-gap: rem(40px);
      }
    }

    .contact,
    .menu {
      font-size: rem(14px);

      .title {
        @include sans($size: 16px, $weight: 600, $lh: 150%);
        margin-bottom: rem(12px);
      }

      .link,
      .address {
        font-style: normal;
        @include sans($size: 14px, $weight: 400, $lh: 150%);
      }

      .hiring {
        @include sans($size: 10px, $weight: 600, $lh: 140%, $color: c('brand-fire'));
        text-transform: uppercase;
        padding: rem(4px) rem(6px);
        background: rgba(240, 68, 5, 0.1);
        border-radius: 4px;
        white-space: nowrap;
        margin-left: rem(4px);
      }

      .fpjsLogo {
        object-fit: contain;
        margin-bottom: rem(16px);

        height: auto;
        width: rem(171px);

        @include media('<=phoneLandscape') {
          width: rem(137px);
        }
      }
    }

    .menu {
      .link {
        display: flex;
        padding: 0.5rem 0;
        @include transition((opacity));

        &:hover {
          opacity: v('extra-faded');
        }

        + .link {
          margin-top: 0.5rem;
        }
      }
    }

    .contact {
      .address {
        display: flex;
        flex-direction: column;
        @include sans($size: 14px, $weight: 400, $lh: 150%);
        margin-bottom: rem(24.5px);

        .mailto {
          padding-top: rem(8px);
          @include transition((opacity));

          &:hover {
            opacity: v('extra-faded');
          }
        }
      }

      .social {
        display: flex;
        align-items: flex-end;

        .links {
          display: flex;
          align-items: center;
          column-gap: rem(24px);

          .link {
            a {
              display: inline-block;
            }

            &:hover {
              svg {
                opacity: v('extra-faded');
              }
            }
          }

          svg {
            fill: v('white');
            @include transition((opacity));
          }
        }
      }
    }
  }
}

.logos {
  @include media('<=desktop') {
    justify-self: flex-end;
  }

  .soc2Logo {
    display: flex;
    column-gap: rem(8px);

    svg {
      width: rem(66px);
      height: rem(66px);
    }
  }
}
