.root {
  overflow: hidden;

  padding: 0 0 rem(74px) 0;

  @include media('<=phoneLandscape') {
    padding: 0 0 rem(48px) 0;
  }
}

.titleContainer {
  --contentWidth: 650px;

  @include media('>phoneLandscape') {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }
  .title {
    @include inter($size: 24px, $lh: 150%, $weight: v('normal'));

    padding-bottom: rem(48px);
    @include media('<=desktop') {
      font-size: rem(20px);
    }

    @include media('<=tablet') {
      color: adjust-color(c('brand-water'), $alpha: -0.3);
      font-size: rem(16px);
    }
  }
}
