.root {
  padding-bottom: rem(144px);

  @include media('<=phoneLandscape') {
    padding-bottom: rem(128px);
  }

  display: grid;
  grid-template-columns: 1fr 50%;
  column-gap: rem(32px);

  @include media('<=desktop') {
    display: flex;
    flex-direction: column;

    row-gap: rem(40px);
  }
}

.title {
  font-size: rem(32px);
  font-weight: v('bold');
  letter-spacing: -0.01em;
  line-height: 130%;

  margin-bottom: rem(32px);

  @include scrollSection;

  @include media('<=tablet') {
    font-size: rem(28px);
  }
}

.details {
  .detailsTitle {
    @include inter($size: 24px, $weight: 600, $lh: 150%);
    letter-spacing: 0.01em;

    margin-bottom: rem(8px);
  }

  .description {
    @include inter($size: 16px, $lh: 150%);

    .strong {
      font-weight: 500;
    }
  }
}

.result {
  bottom: 223px;
}

.type {
  bottom: 202px;
}

.ip {
  bottom: 160px;
}

.time {
  bottom: 138px;
}
.url {
  bottom: 118px;
}
.userAgent {
  bottom: 98px;
}

.link {
  cursor: pointer;
  color: v('brand-fire');

  &:hover {
    color: adjust-color(c('brand-fire'), $lightness: -20%);
  }
}

.snippetSection {
  max-width: rem(584.5px);
}
