.root {
  background-color: adjust-color(c('brand-water'), $lightness: 10%, $saturation: 10%);
  overflow: hidden;
  color: v('white');

  padding: 5rem 0 4rem;

  @include media('<=phoneLandscape') {
    padding-bottom: 3rem;
  }
}

.title {
  font-size: 3.5rem;

  margin-bottom: 5rem;

  @include media('<=phoneLandscape') {
    font-size: 3rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.benefitsSection {
  display: grid;
  column-gap: 10rem;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @include media('<=phoneLandscape') {
    grid-template-columns: 1fr;
  }

  .benefit {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 2.5rem;
    align-self: flex-end;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.7rem;
  }
  .iconContainer {
    padding-right: 2rem;

    .icon {
      fill: v('white');
      width: 6rem;
      height: 6rem;
    }
  }
}
