.cardSection {
  background-color: rgb(242, 243, 247);
  padding: 8rem;
  padding-top: 4rem;
  padding-bottom: 0;

  background-image: url('./card-section-background.png');
  background-repeat: no-repeat;
  background-size: 600px auto;
  background-position: right bottom;

  @include media('<=phoneLandscape') {
    padding: 4rem;
    padding-bottom: 0;

    background-position: center bottom;
  }
}
