.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 auto;
  padding: rem(4px);

  overflow: hidden;

  border-radius: rem(20px);
  background-color: v('white');

  transition-duration: 0.25s;

  &:hover {
    box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);

    position: relative;
    transform: translateY(-0.4px);
  }
  img {
    //to fix gif images ratio
    aspect-ratio: 1.7;
  }
}

.wide {
  margin-top: rem(44px);

  @include media('<=tabletWide') {
    margin-top: rem(32px);
  }

  .content {
    &:before {
      content: 'FEATURED';
      position: relative;
      display: block;
      @include inter($size: 14px, $weight: 600, $lh: 140%, $color: adjust-color(c('brand-water'), $alpha: -0.5));
      letter-spacing: 0.04em;
    }
  }

  .publishDate {
    display: none;
  }

  @include media('>tabletWide') {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: space-around;

    min-height: 35rem;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      padding: rem(28px);
    }

    .title {
      font-size: rem(34px);

      @include media('<=desktop') {
        font-size: rem(20px);
      }
    }

    .description {
      font-size: rem(16px);

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @include media('<=desktop') {
        font-size: rem(14px);
      }
    }

    .wrapper {
      width: 100%;
      aspect-ratio: 1.7;
      padding: 0;
    }

    .image {
      object-fit: cover;
      object-position: center;
    }
  }
  .description {
    margin-bottom: rem(16px);
  }
  .tagList {
    margin-top: auto;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  aspect-ratio: 1.7;
  padding: 0;
}

.image {
  width: 100%;

  border-radius: rem(16px);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: rem(16px);
}

.publishDate {
  @include inter($size: 14px);
}

.title {
  padding-top: rem(16px);

  @include inter($size: 20px, $weight: v('semi'));

  transition-duration: 0.5s;
}

.titleLimit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.description {
  padding-top: rem(8px);

  @include inter($size: 14px);
}

.descriptionLimit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
