<a class='btn btn--github' href='{{site.repo_link}}'>
  <div class='btn__label'>
    <svg class='icon'>
      <use xlink:href='#github'></use>
    </svg>
    <span>
      Star
    </span>
  </div>
  <div class='github-counter'>
  </div>
</a>