<section class="section section--pricing-models">
    <div class="container">
        <header class="section-header">
            <h2 class="section__title">Pricing Models</h2>
            <p class="section__description">We support 2 models of pricing</p>
        </header>
        <div class="section-content">
            <section class="subsection subsection--on-demand">
                <aside class="subsection-aside">
                    <header class="subsection-header">
                        <h3 class="subsection__title">On-<wbr />Demand</h3>
                        <p class="subsection__description">For on-demand pricing, you pay monthly per API call. This
                            plan is recommended for users with unpredictable or low traffic volumes.</p>
                    </header>
                </aside>
                <div class="subsection-content">
                    <ul class="list list--with-arrows">
                        <li>On-demand is a metered model, where we count your API calls and bill you accordingly every
                            month.</li>
                        <li>The on-demand plan is recommended when you have a small and/or unpredictable volume and want
                            to pay only for what you use every month. You can cancel at any time.</li>
                        <li>The minimum plan is $100/month, which includes 100,000 identifications per month. Unused API
                            calls are not carried over to the next month.</li>
                    </ul>
                    <div class="table">
                        <div class="table-row table-row--header">
                            <div class="table-col">Monthly API Call</div>
                            <div class="table-col">Price</div>
                        </div>
                        <div class="table-row">
                            <div class="table-col">0 - 100K</div>
                            <div class="table-col">Flat fee of $100/month</div>
                        </div>
                        <div class="table-row">
                            <div class="table-col">> 100K</div>
                            <div class="table-col">$1 per 1,000 API calls</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="subsection subsection--reserved">
                <aside class="subsection-aside">
                    <header class="subsection-header">
                        <h3 class="subsection__title">Reserved</h3>
                        <p class="subsection__description">Reserved is a 1 year prepaid plan that has several advantages
                            compared to the on-demand model.</p>
                    </header>
                </aside>
                <div class="subsection-content">
                    <ul class="list list--with-numbers list--horizontal">
                        <li>You lock in your price for 1 year and get a 20% discount.</li>
                        <li>Unused API calls are carried over from month to month</li>
                    </ul>
                    <div class="quote">
                        A reserved plan is recommended when you have a high and/or predictable volume and getting a
                        significant discount for your usage is important.
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>