.container {
  padding-bottom: rem(140px);

  @include media('<=phoneLandscape') {
    padding-bottom: rem(128px);
  }

  display: grid;
  grid-template-columns: 1fr 50%;
  column-gap: rem(32px);
  --contentWidth: 1270px;

  @include media('<=desktop') {
    display: flex;
    flex-direction: column;

    row-gap: rem(40px);
  }
}

.keyGenSection {
  @include scrollSection;

  @include media('<=desktop') {
    padding-right: 0;
  }

  .icon {
    width: rem(80px);
    padding-bottom: rem(32px);
    @include scrollSection;
  }

  .title {
    font-size: rem(32px);
    font-weight: v('bold');
    letter-spacing: -0.01em;
    line-height: 130%;

    margin-bottom: rem(8px);

    @include media('<=tablet') {
      font-size: rem(28px);
    }
  }

  .description {
    @include inter($size: 16px, $lh: 150%);

    margin-bottom: 2rem;
    padding-right: rem(180px);
    min-height: rem(48px);

    @media screen and (max-width: 1200px) {
      padding-right: 0;
    }
    @include media('<=tablet') {
      font-size: rem(14px);
    }
  }

  @include media('>desktop') {
    min-height: rem(458px);
  }
}

.snippetSection {
  display: flex;
  align-items: center;
}

.generateKeyForm {
  padding-top: rem(48px);

  .label {
    @include inter($size: 16px, $lh: 150%, $weight: 600);
  }
  .form {
    display: flex;
    column-gap: rem(8px);

    padding-top: rem(8px);
    padding-right: rem(180px);

    @media screen and (max-width: 1200px) {
      padding-right: 0;
    }

    @include media('<=phoneLandscape') {
      flex-direction: column;
      row-gap: rem(8px);
    }

    .input {
      resize: none;
      align-self: stretch;
      border: 0;
      box-shadow: 0 0 0 1px #c4cdd5;

      -webkit-appearance: none;
      background-color: c('white');
      @include inter($size: 16px, $lh: 150%);

      line-height: rem(21px);

      width: 100%;
      height: rem(57px);
      padding: rem(16px);

      flex: 1;
      border-radius: rem(6px);

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px #393e9e;
        outline: none;
      }

      &::placeholder {
        color: adjust-color(c('brand-water'), $alpha: -0.5);
        max-width: rem(287px);
      }

      & + .input {
        margin-top: 1.75rem;
      }
    }

    .input select:focus {
      @include media('<=phoneLandscape') {
        font-size: 16px;
      }
    }

    .loadingButton {
      background-color: adjust-color(c('brand-fire'), $lightness: -20%);
      cursor: wait;
    }
  }
}

.poweredBy {
  display: flex;
  column-gap: rem(6px);
  padding-top: rem(17px);
  @include inter($size: 12px, $weight: 400, $lh: 125%, $color: adjust-color(c('brand-water'), $alpha: -0.3));
  letter-spacing: 0.004em;

  .link {
    cursor: pointer;
    text-decoration: underline;
  }

  .botD {
    fill: adjust-color(c('brand-water'), $alpha: -0.3);

    width: rem(20px);

    @include media('<=phoneLandscape') {
      width: rem(16px);
    }
  }
}
