.root {
  overflow: hidden;

  padding: 0 0 rem(192px) 0;

  @include media('<=desktop') {
    padding: 0 0 rem(86px) 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media('<=phoneLandscape') {
    display: flex;
    flex-direction: column;
  }
}

.descriptionSection {
  @include media('<=phoneLandscape') {
    padding-bottom: rem(58px);
  }

  .title {
    font-size: rem(32px);
    font-weight: v('bold');
    line-height: 130%;

    margin-bottom: rem(24px);
    padding-right: rem(120px);

    @include media('<=desktop') {
      font-size: rem(30px);
      padding-right: rem(60px);
    }

    @include media('<=tablet') {
      font-size: rem(28px);
      line-height: 120%;
    }

    @include media('<=phoneLandscape') {
      padding-right: 0;
    }
  }

  .description {
    @include inter($size: 16px, $color: adjust-color(c('brand-water'), $alpha: -0.3));

    margin-bottom: 2rem;
    padding-right: rem(149px);

    @include media('<=desktop') {
      font-size: rem(19px);
      padding-right: rem(60px);
    }

    @include media('<=tablet') {
      font-size: rem(14px);
    }

    @include media('<=phoneLandscape') {
      padding-right: 0;
    }
  }
}

.imageSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(24px);

  @include inter();
  @include media('<=phoneLandscape') {
    display: flex;
    flex-direction: column;
    row-gap: rem(48px);
  }

  .cardTitle {
    font-size: rem(20px);
    font-weight: v('bold');
    line-height: 130%;
    margin-top: rem(32px);
    margin-bottom: rem(8px);

    @include media('<=phoneLandscape') {
      margin-top: rem(24px);
    }
  }
  .cardDescription {
    font-size: rem(14px);
    color: adjust-color(c('brand-water'), $alpha: -0.3);
    line-height: 150%;
  }
}
