.section {
  padding-top: 5rem;
  &:not(:last-child) {
    padding-bottom: 0;
  }
}

.container {
  @include media('<=tablet') {
    padding: 0;
  }
}

.header,
.subHeader {
  padding: 4rem 6rem;
  color: c('white');

  @include media('<=tabletWide') {
    padding: 4rem 3rem;
  }
}

.header {
  background-color: c('brand-water');
}

.subHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: adjust-color(c('brand-water'), $lightness: +5%);
}

.content {
  @include overrideContentStyle($fontSize: 2.25rem);

  p {
    margin-bottom: 0;
  }
}

.downloadPdf {
  margin-top: 2rem;
  max-width: 30rem;
}
