.caseStudy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 auto;
  padding: rem(4px);

  overflow: hidden;

  border-radius: rem(20px);
  background-color: v('white');

  transition-duration: 0.25s;

  &:hover {
    box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
    position: relative;
    transform: translateY(-0.4px);
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(16px);
}

.title {
  font-family: v('ff-sans');
  font-weight: v('semi');
  font-size: rem(20px);
  transition-duration: 0.5s;
}

.description {
  padding-top: rem(8px);
  font-family: v('ff-sans');
  font-size: rem(14px);
}
