.root {
  background: v('dark-black');
  color: v('github-white');
  padding-top: rem(140px);
  padding-bottom: rem(48px);

  @include media('<=phoneLandscape') {
    background: #202021;
    padding-top: rem(64px);
    padding-bottom: rem(56px);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include media('<=phoneLandscape') {
      align-items: flex-start;
    }

    .labelWrapper {
      @include labelOrange;
      margin-bottom: rem(60px);
      @include media('<=phoneLandscape') {
        font-size: rem(12px);
        letter-spacing: 0.04em;
      }
    }
  }
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(106.73deg, #202021 -8.11%, #19191a 21.02%, #141415 119.42%);
  align-items: center;

  border: rem(0.8px) solid rgba(208, 208, 208, 0.1);
  border-radius: rem(8px);
  padding: rem(56px) rem(56px) rem(64px);

  @include media('<=desktop') {
    padding: rem(40px) rem(20px);
    align-items: flex-start;
  }
  @include media('<=phoneLandscape') {
    background: unset;
    border: unset;
    border-radius: unset;
    padding: 0;
  }

  .title {
    @include inter($size: 48px, $weight: 600, $lh: 64px);
    letter-spacing: -0.01em;
    text-align: center;

    @include media('<=phoneLandscape') {
      font-size: rem(28px);
      line-height: rem(34px);
    }
  }
  .demoLink {
    display: flex;
    column-gap: rem(3px);
    @include jb-mono($size: 14px, $weight: 500, $lh: 100%);
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: rem(12px);

    background: linear-gradient(94.48deg, #f5614b 0%, #f5614b 0.01%, #fa7545 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    .arrow {
      margin-top: rem(2px);

      width: rem(10px);
    }
  }
}
.cardsWrapper:nth-child(3) {
  margin-top: rem(32px);

  @include media('<=phoneLandscape') {
    border-top: rem(1px) solid #323233;
    padding-top: rem(40px);
    margin-top: rem(40px);
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(20px);

  padding-top: rem(48px);
  @include media('<=desktop') {
    display: flex;
    flex-direction: column;
    row-gap: rem(16px);

    width: 100%;
  }

  @include media('<=phoneLandscape') {
    padding-top: rem(40px);
  }
  .card,
  .cardStep {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 rem(32px);
    @include media('<=desktop') {
      padding: 0;
    }
    .icon {
      margin-bottom: rem(32px);
      height: rem(56px);
      svg {
        height: 100%;
      }

      @include media('<=phoneLandscape') {
        margin-bottom: rem(24px);
      }
    }
    .cardTitle {
      @include inter($size: 24px, $weight: 600, $lh: 130%);
      letter-spacing: -0.01em;
      padding-bottom: rem(8px);

      @include media('<=phoneLandscape') {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }
    .cardDescription {
      @include inter($size: 16px, $lh: 150%, $weight: 400, $color: #d0d0d0);

      @include media('<=phoneLandscape') {
        font-size: rem(16px);
        letter-spacing: 0.001em;
      }
    }
    @include transition((opacity, transform));
    @include transition-duration(0.7s);

    opacity: 0;
    transform: translateY(15px);
  }
  .cardStep {
    flex-direction: row;
    column-gap: rem(32px);
    @include media('<=desktop') {
      column-gap: rem(24px);
    }
    .stepCard {
      display: flex;
      flex-direction: column;
      align-items: center;

      background: linear-gradient(106.73deg, #202021 -8.11%, #19191a 21.02%, #141415 119.42%);
      border: 0.8px solid rgba(208, 208, 208, 0.1);
      border-radius: 2px;
      padding: rem(8px) rem(12px);
      .step {
        @include inter($size: 16px, $weight: 600, $lh: 145%);

        padding-bottom: rem(4px);
      }
      .stepNumber {
        @include inter($size: 48px, $weight: 600, $lh: 40px);
        background: linear-gradient(94.48deg, #f5614b 0%, #f5614b 0.01%, #fa7545 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    &:nth-child(3) {
      padding-right: 0;
    }
  }
}
.visible {
  .card,
  .cardStep {
    transition-delay: 0.25s;
    opacity: 1;
    transform: translateY(0);

    &:nth-child(2) {
      transition-delay: 0.45s;
    }
    &:nth-child(3) {
      transition-delay: 0.65s;
    }
    &:nth-child(4) {
      transition-delay: 0.85s;
    }
  }
}

.button {
  margin-top: rem(40px);
  padding: rem(16px) rem(64px);
  box-shadow: inset 0 0 0 1px v('github-white');
  font-weight: 600;

  @include media('<=desktop') {
    width: 100%;
  }

  @include transition((opacity, transform));
  @include transition-duration(0.7s);

  opacity: 0;
  transform: translateY(15px);
}
.visibleButton {
  transition-delay: 1s;
  opacity: 1;
  transform: translateY(0);
}
