.section {
  background-color: v('off-white');
  background-repeat: no-repeat;
  background-size: 1400px auto;
  background-position: center center;

  .sectionHeader {
    text-align: center;
    margin-bottom: 5rem;
  }

  .sectionTitle {
    font-weight: v(light);
    font-size: 5rem;

    @include media('<=phone') {
      font-size: 3rem;
    }
  }

  .useCases {
    display: grid;
    @include gap(3rem);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;

    .useCase {
      display: flex;
      align-items: flex-start;
      padding: 4rem;
      background-color: v('white');
      border-radius: 1rem;
      position: relative;

      > * + * {
        margin-left: 2rem;
      }

      @include media('<=phone') {
        padding: 2rem;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        box-shadow: 0 20px 40px 0px adjust-color(c('brand-water'), $alpha: -0.9);
        opacity: v('muted');
        pointer-events: none;
        @include transition((opacity));
      }

      &:hover {
        &:before {
          opacity: 1;
        }

        .icon {
          opacity: 1;
        }

        .link,
        .title,
        .learnMore {
          color: c('brand-fire');
        }
      }

      .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        height: 28px;
      }

      .icon {
        width: 3rem;
        height: 3rem;
        // stroke: c('brand-water');
        opacity: v('extra-faded');
        @include transition((opacity));
      }

      .title {
        margin-bottom: 2rem;
        @include transition((color));
      }
      .description {
        font-size: 1.75rem;
        opacity: v('faded');
      }

      .link {
        display: inline-block;
        font-size: 1.75rem;
        margin-top: 3rem;
        text-decoration: underline;
        @include transition((color));
      }

      .learnMore {
        color: v('white');
        text-align: right;
        font-size: 1.50rem;
        margin-top: 3rem;
        @include transition((color));
      }

      &.large {
        padding: 6rem;
        display: block;
        text-align: center;

        > * + * {
          margin-left: 0rem;
        }

        @include media('<=phone') {
          padding: 2rem;
        }

        .iconContainer {
          height: auto;
        }

        .icon {
          width: 7rem;
          height: 7rem;
        }
      }
    }
  }
}
