.contactSalesForm {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.label {
  margin-top: rem(24px);
  margin-bottom: rem(4px);

  font-family: v('ff-sans');
  font-size: rem(14px);
  color: adjust-color(c('brand-water'), $alpha: -0.3);
  font-weight: v('semi');
}

.input,
.textArea {
  resize: none;
  align-self: stretch;
  border: 0;
  box-shadow: 0 0 0 1px #c4cdd5;

  -webkit-appearance: none;
  background-color: c('white');
  font-family: v(ff-sans);
  font-size: rem(14px);
  line-height: rem(21px);

  width: 100%;
  height: rem(50px);
  padding: rem(14px);

  flex: 1;
  border-radius: 1rem;

  @media screen and (max-width: 640px) {
    min-width: 200px;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #393e9e;
    outline: none;
  }

  &::placeholder {
    color: adjust-color(c('brand-water'), $alpha: -0.5);
    max-width: rem(287px);
  }

  & + .input {
    margin-top: 1.75rem;
  }
}

.button {
  align-self: start;
  margin-top: rem(40px);

  &.loadingButton {
    background-color: adjust-color(c('brand-fire'), $lightness: -20%);
    cursor: wait;
  }
}

.input,
.textArea,
select:focus {
  @include media('<=phoneLandscape') {
    font-size: 16px;
  }
}

.formSection {
  padding: rem(32px);
  max-width: rem(560px);
  background-color: v('white');
  box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
  border-radius: 16px;

  .header {
    font-size: rem(32px);
  }
  .subHeader {
    padding-top: rem(16px);
    padding-bottom: rem(8px);

    font-family: v(ff-sans);
    font-size: rem(16px);
    font-weight: v('normal');
    line-height: 150%;
    color: adjust-color(c('brand-water'), $alpha: -0.3);
  }
}
.stateSection {
  padding: rem(40px);
  max-width: rem(560px);
  background-color: v('white');
  box-shadow: 0px 8px 32px rgba(13, 16, 43, 0.1);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: rem(24px);

  @include media('<=tablet') {
    width: 100%;
    padding: rem(250px) rem(10px);
  }

  .message {
    font-family: v(ff-sans);
    font-size: rem(20px);
    font-weight: v('semi');
    line-height: 130%;
    text-align: center;
  }

  .link {
    cursor: pointer;
    text-decoration: none;
    color: v('brand-fire');

    &:hover {
      color: adjust-color(c('brand-fire'), $lightness: -20%);
    }
  }
}
